Repository sysdiglabs/terraform-provider-sysdig, changes with the owners that CODEOWNERS names for each.
All owners: @airadier, @tembleking, @mateobur, @marojor, @francesco-racciatti, @pgcrooks-sysdig, @gnosek, @haresh-suresh, @nkraemer-sysdig, @michelevergnano, @dkutsanov, @antonio-cuomo, @dbonf, @rossifrancesco, @shadow649, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig, @filiptubic, @mbarbieri, @draraksysdig, @igoreulalio

CODEOWNERS:

* @airadier @tembleking @mateobur
# Fargate workload agent
*fargate* @airadier @tembleking @mateobur @marojor @francesco-racciatti @pgcrooks-sysdig @gnosek

# compliance
*benchmark* @airadier @tembleking @mateobur @haresh-suresh @nkraemer-sysdig

# monitor
*monitor*alert* @airadier @tembleking @mateobur @michelevergnano @dkutsanov @antonio-cuomo @dbonf
*monitor*dashboard* @airadier @tembleking @mateobur @rossifrancesco
*monitor*groupmapping* @airadier @tembleking @mateobur @shadow649
*notification_channel* @airadier @tembleking @mateobur @michelevergnano @dkutsanov @antonio-cuomo @dbonf
*inhibition_rule* @airadier @tembleking @mateobur @michelevergnano @dkutsanov @antonio-cuomo @dbonf
*silence_rule* @airadier @tembleking @mateobur @michelevergnano @dkutsanov @antonio-cuomo @dbonf

# policies/rules
*secure*policy* @airadier @tembleking @mateobur @rosenbloomb-sysdig @ombellare @miguelgordo @ivanlysiuk-sysdig @daniel-almeida @jbainbridgesysdig

# internal components
/sysdig/internal/client/v2/client.go @airadier @tembleking @mateobur @filiptubic @mbarbieri @draraksysdig
/sysdig/internal/client/v2/config.go @airadier @tembleking @mateobur @filiptubic @mbarbieri @draraksysdig
/sysdig/internal/client/v2/ibm.go @airadier @tembleking @mateobur @filiptubic @mbarbieri @draraksysdig
/sysdig/internal/client/v2/agentaccesskey.go @airadier @tembleking @mateobur @igoreulalio @filiptubic @mbarbieri @draraksysdig
/main.go @airadier @tembleking @mateobur @filiptubic @mbarbieri @draraksysdig
/.goreleaser.yml @airadier @tembleking @mateobur @filiptubic @mbarbieri @draraksysdig
/.github/ @airadier @tembleking @mateobur @filiptubic @mbarbieri @draraksysdig

applying De Morgan's law to fix linter
  sysdig/resource_sysdig_monitor_alert_v2_common.go
Owners: @airadier, @tembleking, @mateobur, @michelevergnano, @dkutsanov, @antonio-cuomo, @dbonf

feat(alerts): support additional fields in notification templates (#654)
  sysdig/internal/client/v2/model.go
  sysdig/resource_sysdig_monitor_alert_v2_common.go
  sysdig/resource_sysdig_monitor_alert_v2_metric_test.go
  website/docs/r/monitor_alert_v2_change.md
  website/docs/r/monitor_alert_v2_downtime.md
  website/docs/r/monitor_alert_v2_event.md
  website/docs/r/monitor_alert_v2_form_based_prometheus.md
  website/docs/r/monitor_alert_v2_group_outlier.md
  website/docs/r/monitor_alert_v2_metric.md
  website/docs/r/monitor_alert_v2_prometheus.md
Owners: @airadier, @tembleking, @mateobur, @michelevergnano, @dkutsanov, @antonio-cuomo, @dbonf

refactor: rename deprecated resources (#652)
  sysdig/deprecated_data_source_sysdig_secure_notification_channel.go
  sysdig/deprecated_resource_sysdig_monitor_alert_anomaly.go
  sysdig/deprecated_resource_sysdig_monitor_alert_downtime.go
  sysdig/deprecated_resource_sysdig_monitor_alert_event.go
  sysdig/deprecated_resource_sysdig_monitor_alert_group_outlier.go
  sysdig/deprecated_resource_sysdig_monitor_alert_metric.go
  sysdig/deprecated_resource_sysdig_monitor_alert_promql.go
  sysdig/deprecated_resource_sysdig_secure_policy.go
  sysdig/provider.go
  sysdig/resource_sysdig_monitor_alert_promql.go
Owners: @airadier, @tembleking, @mateobur, @michelevergnano, @dkutsanov, @antonio-cuomo, @dbonf, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig

Add support for additional secure drift policy fields
  sysdig/data_source_sysdig_secure_drift_policy.go
  sysdig/data_source_sysdig_secure_drift_policy_test.go
  sysdig/internal/client/v2/model.go
  sysdig/resource_sysdig_secure_drift_policy.go
  sysdig/resource_sysdig_secure_drift_policy_test.go
  sysdig/tfresource.go
  website/docs/d/secure_drift_policy.md
  website/docs/r/secure_drift_policy.md
Owners: @airadier, @tembleking, @mateobur, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig

fix: solve null pointer reference when unmarshaling
  sysdig/internal/client/v2/organization.go
Owners: @airadier, @tembleking, @mateobur

fix: solve null pointer reference when unmarshaling (#658)
  sysdig/internal/client/v2/organization.go
Owners: @airadier, @tembleking, @mateobur

build(nix): add nix flake to enhance DX and make it reproducible
  .envrc
  .gitignore
  GNUmakefile
  flake.lock
  flake.nix
  package.nix
Owners: @airadier, @tembleking, @mateobur

Address review comments
  sysdig/data_source_sysdig_secure_drift_policy_test.go
  sysdig/resource_sysdig_secure_drift_policy_test.go
Owners: @airadier, @tembleking, @mateobur, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig

Fixed spacing issue
  sysdig/resource_sysdig_secure_drift_policy_test.go
Owners: @airadier, @tembleking, @mateobur, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig

refactor(serverless): Migrate to new agent-kilt package
  go.mod
  go.sum
  sysdig/data_source_sysdig_fargate_ECS_test.go
  sysdig/data_source_sysdig_fargate_workload_agent.go
Owners: @airadier, @tembleking, @mateobur, @marojor, @francesco-racciatti, @pgcrooks-sysdig, @gnosek

test
  GNUmakefile
Owners: @airadier, @tembleking, @mateobur

refactor(serverless): Migrate to new agent-kilt package (#659)
  go.mod
  go.sum
  sysdig/data_source_sysdig_fargate_ECS_test.go
  sysdig/data_source_sysdig_fargate_workload_agent.go
Owners: @airadier, @tembleking, @mateobur, @marojor, @francesco-racciatti, @pgcrooks-sysdig, @gnosek

feat(secure-policies): support new fields in drift policy (#656)
  sysdig/data_source_sysdig_secure_drift_policy.go
  sysdig/data_source_sysdig_secure_drift_policy_test.go
  sysdig/internal/client/v2/model.go
  sysdig/resource_sysdig_secure_drift_policy.go
  sysdig/resource_sysdig_secure_drift_policy_test.go
  sysdig/tfresource.go
  website/docs/d/secure_drift_policy.md
  website/docs/r/secure_drift_policy.md
Owners: @airadier, @tembleking, @mateobur, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig

feat(secure-policies): support new fields in drift policy (#656)
  sysdig/data_source_sysdig_secure_drift_policy.go
  sysdig/data_source_sysdig_secure_drift_policy_test.go
  sysdig/data_source_sysdig_secure_malware_policy.go
  sysdig/data_source_sysdig_secure_malware_policy_test.go
  sysdig/internal/client/v2/model.go
  sysdig/resource_sysdig_secure_drift_policy.go
  sysdig/resource_sysdig_secure_drift_policy_test.go
  sysdig/resource_sysdig_secure_malware_policy.go
  sysdig/resource_sysdig_secure_malware_policy_test.go
  sysdig/schema.go
  sysdig/tfresource.go
  website/docs/d/secure_drift_policy.md
  website/docs/d/secure_malware_policy.md
  website/docs/r/secure_drift_policy.md
  website/docs/r/secure_malware_policy.md
Owners: @airadier, @tembleking, @mateobur, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig

Revert changes to drift test files
  sysdig/data_source_sysdig_secure_drift_policy_test.go
  sysdig/resource_sysdig_secure_drift_policy_test.go
Owners: @airadier, @tembleking, @mateobur, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig

Revert test changes and add test for new fields support
  sysdig/data_source_sysdig_secure_malware_policy_test.go
  sysdig/resource_sysdig_secure_malware_policy_test.go
Owners: @airadier, @tembleking, @mateobur, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig

Revert test change
  sysdig/data_source_sysdig_secure_malware_policy_test.go
Owners: @airadier, @tembleking, @mateobur, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig

Fix compile issue
  sysdig/data_source_sysdig_secure_malware_policy_test.go
Owners: @airadier, @tembleking, @mateobur, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig

Fix test issue
  sysdig/data_source_sysdig_secure_malware_policy_test.go
Owners: @airadier, @tembleking, @mateobur, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig

Update resource and data names in malware policy test
  sysdig/data_source_sysdig_secure_malware_policy_test.go
Owners: @airadier, @tembleking, @mateobur, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig

Initial commit for automation functionality
  examples/automation/main.tf
  examples/automation/terraform.tfvars.example
  sysdig/internal/client/v2/automations.go
  sysdig/internal/client/v2/client.go
  sysdig/internal/client/v2/model.go
  sysdig/provider.go
  sysdig/resource_sysdig_secure_automation.go
  sysdig/resource_sysdig_secure_automation_test.go
  website/docs/r/secure_automatiion.md
Owners: @airadier, @tembleking, @mateobur, @filiptubic, @mbarbieri, @draraksysdig

Migration document
  website/docs/r/secure_malware_policy.md
Owners: @airadier, @tembleking, @mateobur, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig

Fix document issue
  website/docs/r/secure_malware_policy.md
Owners: @airadier, @tembleking, @mateobur, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig

Fix docs to add new section
  website/docs/r/secure_malware_policy.md
Owners: @airadier, @tembleking, @mateobur, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig

feat: add vulnerability policy resource
  sysdig/internal/client/v2/sysdig.go
  sysdig/internal/client/v2/vulnerability_policy.go
  sysdig/internal/client/v2/vulnerability_policy_model.go
  sysdig/provider.go
  sysdig/resource_sysdig_secure_vulnerability_policy.go
  sysdig/resource_sysdig_secure_vulnerability_policy_test.go
  website/docs/r/secure_vulnerability_policy.md
Owners: @airadier, @tembleking, @mateobur, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig

fix: use parseint to solve atoi problems
  sysdig/resource_sysdig_secure_vulnerability_policy.go
Owners: @airadier, @tembleking, @mateobur, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig

fix: correct the usage of json tags in model
  sysdig/internal/client/v2/vulnerability_policy_model.go
Owners: @airadier, @tembleking, @mateobur

fix(docs): add required line to attributes
  website/docs/r/secure_vulnerability_policy.md
Owners: @airadier, @tembleking, @mateobur, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig

feat: add vulnerability policy resource (#662)
  sysdig/internal/client/v2/sysdig.go
  sysdig/internal/client/v2/vulnerability_policy.go
  sysdig/internal/client/v2/vulnerability_policy_model.go
  sysdig/provider.go
  sysdig/resource_sysdig_secure_vulnerability_policy.go
  sysdig/resource_sysdig_secure_vulnerability_policy_test.go
  website/docs/r/secure_vulnerability_policy.md
Owners: @airadier, @tembleking, @mateobur, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig

feat(secure-policies): support new and fix existing fields in malware policy (#657)
  sysdig/data_source_sysdig_secure_malware_policy.go
  sysdig/data_source_sysdig_secure_malware_policy_test.go
  sysdig/internal/client/v2/model.go
  sysdig/resource_sysdig_secure_malware_policy.go
  sysdig/resource_sysdig_secure_malware_policy_test.go
  sysdig/schema.go
  sysdig/tfresource.go
  website/docs/d/secure_malware_policy.md
  website/docs/r/secure_malware_policy.md
Owners: @airadier, @tembleking, @mateobur, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig
