Repository sysdiglabs/terraform-provider-sysdig, changes with the owners that CODEOWNERS names for each.
All owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier, @marojor, @francesco-racciatti, @pgcrooks-sysdig, @gnosek, @haresh-suresh, @nkraemer-sysdig, @michelevergnano, @dkutsanov, @antonio-cuomo, @dbonf, @rossifrancesco, @jwsarna1, @shadow649, @kmvachhani, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig, @IvanNik, @hila1608, @yaminSapir, @chen-shmilovich-sysdig, @zohar-arad, @igoreulalio

fix(posture/zones): correctly handle api errors
  sysdig/internal/client/v2/posture_controls.go
  sysdig/internal/client/v2/posture_policies.go
  sysdig/internal/client/v2/posture_zones.go
  sysdig/internal/client/v2/zones.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

fix(posture/zones): correctly handle api errors (#637)
  sysdig/internal/client/v2/posture_controls.go
  sysdig/internal/client/v2/posture_policies.go
  sysdig/internal/client/v2/posture_zones.go
  sysdig/internal/client/v2/zones.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

bump protorepo to support new fields
  sysdig/internal/client/v2/cloudauth/go/cloud_account.pb.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

bump protorepo to support new fields (#638)
  sysdig/internal/client/v2/cloudauth/go/cloud_account.pb.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

attempt-fix-sorting
  sysdig/data_source_sysdig_secure_posture_policy.go
  sysdig/internal/client/v2/posture_policies.go
  sysdig/resource_sysdig_secure_posture_policy.go
Owners: @kmvachhani, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig, @IvanNik, @hila1608, @yaminSapir, @chen-shmilovich-sysdig, @zohar-arad, @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

fix: ignore-order-of-controls
  sysdig/resource_sysdig_secure_posture_policy.go
Owners: @kmvachhani, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig, @IvanNik, @hila1608, @yaminSapir, @chen-shmilovich-sysdig, @zohar-arad

fix test
  sysdig/data_source_sysdig_secure_posture_zone_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

fix test
  sysdig/data_source_sysdig_secure_posture_zone_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

fix: ignore-order-of-controls (#640)
  sysdig/data_source_sysdig_secure_posture_zone_test.go
  sysdig/resource_sysdig_secure_posture_policy.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier, @kmvachhani, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig, @IvanNik, @hila1608, @yaminSapir, @chen-shmilovich-sysdig, @zohar-arad

fix(posture/accept-risk): allow expires_in=Never value
  sysdig/resource_sysdig_secure_accept_posture_risk.go
  sysdig/resource_sysdig_secure_accept_posture_risk_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

build(nix): add nix flake to enhance DX and make it reproducible
  .envrc
  .gitignore
  GNUmakefile
  flake.lock
  flake.nix
  package.nix
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

fix(posture/accept-risk): allow expires_in=Never value (#641)
  sysdig/resource_sysdig_secure_accept_posture_risk.go
  sysdig/resource_sysdig_secure_accept_posture_risk_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

chore(fargate): Remove deprecated Orchestrator code
  sysdig/data_source_sysdig_fargate_ECS_test.go
  sysdig/data_source_sysdig_fargate_workload_agent.go
  sysdig/data_source_sysdig_fargate_workload_agent_test.go
  sysdig/testfiles/ECSInstrumented.json
  sysdig/testfiles/fargate_bare_pdig_expected.json
  sysdig/testfiles/fargate_cmd_test_expected.json
  sysdig/testfiles/fargate_combined_test_expected.json
  sysdig/testfiles/fargate_entrypoint_test_expected.json
  sysdig/testfiles/fargate_env_test_expected.json
  sysdig/testfiles/fargate_field_case_test_expected.json
  sysdig/testfiles/fargate_ignore_container_test_expected.json
  sysdig/testfiles/fargate_linuxparameters_test_expected.json
  sysdig/testfiles/fargate_log_group_expected.json
  sysdig/testfiles/fargate_volumesfrom_test_expected.json
Owners: @marojor, @francesco-racciatti, @pgcrooks-sysdig, @gnosek, @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

chore(fargate): add deprecation message for orchestrator-related parameters
  sysdig/data_source_sysdig_fargate_workload_agent.go
Owners: @marojor, @francesco-racciatti, @pgcrooks-sysdig, @gnosek

chore(fargate): add deprecation message for orchestrator-related parameters (#643)
  sysdig/data_source_sysdig_fargate_workload_agent.go
Owners: @marojor, @francesco-racciatti, @pgcrooks-sysdig, @gnosek

feat(alerts): support additional fields in notification templates
  sysdig/internal/client/v2/model.go
  sysdig/resource_sysdig_monitor_alert_v2_common.go
  sysdig/resource_sysdig_monitor_alert_v2_metric_test.go
  website/docs/r/monitor_alert_v2_change.md
  website/docs/r/monitor_alert_v2_downtime.md
  website/docs/r/monitor_alert_v2_event.md
  website/docs/r/monitor_alert_v2_form_based_prometheus.md
  website/docs/r/monitor_alert_v2_group_outlier.md
  website/docs/r/monitor_alert_v2_metric.md
  website/docs/r/monitor_alert_v2_prometheus.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier, @michelevergnano, @dkutsanov, @antonio-cuomo, @dbonf

deps(go): bump to go 1.24.4
  .github/workflows/ci-master.yml
  .github/workflows/ci-provider-docs.yaml
  go.mod
  go.sum
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo, unless a later match takes precedence
* @filiptubic @mbarbieri @draraksysdig @tembleking @airadier

# Fargate workload agent
*fargate* @marojor @francesco-racciatti @pgcrooks-sysdig @gnosek

# compliance
*benchmark* @haresh-suresh  @nkraemer-sysdig

# monitor
*monitor*alert* @michelevergnano @dkutsanov @antonio-cuomo @dbonf
*monitor*dashboard* @rossifrancesco
*monitor*providers* @jwsarna1
*monitor*groupmapping* @shadow649
*notification_channel* @michelevergnano @dkutsanov @antonio-cuomo @dbonf
*inhibition_rule* @michelevergnano @dkutsanov @antonio-cuomo @dbonf
*silence_rule* @michelevergnano @dkutsanov @antonio-cuomo @dbonf

# policies/rules
*secure*policy* @kmvachhani @rosenbloomb-sysdig @ombellare @miguelgordo @ivanlysiuk-sysdig @daniel-almeida @jbainbridgesysdig @IvanNik @hila1608 @yaminSapir @chen-shmilovich-sysdig @zohar-arad

# internal components
/sysdig/internal/client/v2/client.go @filiptubic @mbarbieri @draraksysdig @tembleking @airadier
/sysdig/internal/client/v2/config.go @filiptubic @mbarbieri @draraksysdig @tembleking @airadier
/sysdig/internal/client/v2/ibm.go @filiptubic @mbarbieri @draraksysdig @tembleking @airadier
/sysdig/internal/client/v2/agentaccesskey.go @igoreulalio @filiptubic @mbarbieri @draraksysdig @tembleking @airadier
/main.go @filiptubic @mbarbieri @draraksysdig @tembleking @airadier
/.goreleaser.yml @filiptubic @mbarbieri @draraksysdig @tembleking @airadier
/.github/ @filiptubic @mbarbieri @draraksysdig @tembleking @airadier
