Repository sysdiglabs/terraform-provider-sysdig, changes with the owners that CODEOWNERS names for each.
All owners: @marojor, @francesco-racciatti, @haresh-suresh, @nkraemer-sysdig, @sameer-in, @arturodilecce, @dbonf, @brokenpip3, @jwsarna1, @filiptubic, @jacklongsd, @kmvachhani, @ben-m-lucas, @ombellare, @miguelgordo, @ivanlysiuk-sysdig

CODEOWNERS:

# Fargate workload agent
*fargate* @marojor @francesco-racciatti

# compliance
*benchmark* @haresh-suresh  @nkraemer-sysdig @sameer-in

# monitor
*monitor*alert* @arturodilecce @dbonf
*monitor*dashboard* @brokenpip3
*monitor*providers* @jwsarna1
*monitor*groupmapping* @filiptubic

# policies/rules
*secure*policy* @jacklongsd @kmvachhani @ben-m-lucas @ombellare @miguelgordo @ivanlysiuk-sysdig

feat(client): add user agent
  .goreleaser.yml
  buildinfo/info.go
  main.go
  sysdig/internal/client/v2/client.go
Owners: none

feat(client): modify goreleaser to proper ldflag verion path
  .goreleaser.yml
  main.go
Owners: none

feat(client): update tests
  sysdig/internal/client/v2/ibm_test.go
  sysdig/internal/client/v2/sysdig_test.go
Owners: none

feat(client): update tests
  sysdig/internal/client/v2/client_test.go
  sysdig/internal/client/v2/ibm_test.go
  sysdig/internal/client/v2/sysdig_test.go
Owners: none

feat(client): change agent name to SysdigTerraform
  sysdig/internal/client/v2/client.go
  sysdig/internal/client/v2/client_test.go
Owners: none

feat(client): minor refactor
  sysdig/internal/client/v2/client.go
  sysdig/internal/client/v2/client_test.go
Owners: none

User agent (#335)
  .goreleaser.yml
  buildinfo/info.go
  go.mod
  go.sum
  sysdig/internal/client/v2/client.go
  sysdig/internal/client/v2/client_test.go
Owners: none

refactor(alertsv2): keep buildLabelDescriptor comment
  sysdig/internal/client/v2/alerts_v2.go
Owners: none

feat(ibm): test secure pipeline
  .github/workflows/test.yml
  sysdig/clienttype_string.go
  sysdig/common_test.go
  sysdig/internal/client/v2/ibm.go
  sysdig/provider.go
  sysdig/resource_sysdig_secure_notification_channel_common.go
  sysdig/resource_sysdig_secure_notification_channel_email_test.go
  sysdig/resource_sysdig_secure_notification_channel_opsgenie_test.go
  sysdig/resource_sysdig_secure_notification_channel_pagerduty_test.go
  sysdig/resource_sysdig_secure_notification_channel_slack_test.go
  sysdig/resource_sysdig_secure_notification_channel_sns_test.go
  sysdig/resource_sysdig_secure_notification_channel_victorops_test.go
  sysdig/resource_sysdig_secure_notification_channel_webhook_test.go
  sysdig/sysdig_clients.go
Owners: none

Refactor alerts v2 (#321)
  sysdig/internal/client/monitor/alerts_v2.go
  sysdig/internal/client/monitor/client.go
  sysdig/internal/client/monitor/helpers.go
  sysdig/internal/client/monitor/models.go
  sysdig/internal/client/monitor/models_v2.go
  sysdig/internal/client/monitor/notification_channels.go
  sysdig/internal/client/v2/alerts_v2.go
  sysdig/internal/client/v2/model.go
  sysdig/internal/client/v2/sysdig.go
  sysdig/resource_sysdig_monitor_alert_v2_common.go
  sysdig/resource_sysdig_monitor_alert_v2_downtime.go
  sysdig/resource_sysdig_monitor_alert_v2_event.go
  sysdig/resource_sysdig_monitor_alert_v2_metric.go
  sysdig/resource_sysdig_monitor_alert_v2_prometheus.go
  sysdig/sysdig_clients.go
Owners: @arturodilecce, @dbonf

feat(ibm): test secure pipeline
  sysdig/common_test.go
Owners: none

feat(ibm): test secure pipeline
  sysdig/resource_sysdig_secure_notification_channel_opsgenie_test.go
  sysdig/resource_sysdig_secure_notification_channel_pagerduty_test.go
  sysdig/resource_sysdig_secure_notification_channel_slack_test.go
  sysdig/resource_sysdig_secure_notification_channel_sns_test.go
  sysdig/resource_sysdig_secure_notification_channel_victorops_test.go
  sysdig/resource_sysdig_secure_notification_channel_webhook_test.go
Owners: none

fix broken tests
  sysdig/data_source_sysdig_secure_managed_ruleset_test.go
Owners: none

add documentation for managed rulesets. ensure tests run with policy tests. fix documentation for managed policy.
  sysdig/data_source_sysdig_secure_managed_policy_test.go
  sysdig/data_source_sysdig_secure_managed_ruleset_test.go
  website/docs/d/secure_managed_ruleset.md
Owners: @jacklongsd, @kmvachhani, @ben-m-lucas, @ombellare, @miguelgordo, @ivanlysiuk-sysdig

implementation and tests for data source fer container rules
  sysdig/data_source_sysdig_secure_rule.go
  sysdig/data_source_sysdig_secure_rule_container.go
  sysdig/data_source_sysdig_secure_rule_container_test.go
  sysdig/internal/client/v2/model.go
  sysdig/internal/client/v2/rules.go
  sysdig/provider.go
  sysdig/resource_sysdig_secure_rule_container.go
Owners: none

feat(policies): data source for managed ruleset (#334)
  sysdig/data_source_sysdig_secure_managed_ruleset.go
  sysdig/data_source_sysdig_secure_managed_ruleset_test.go
  sysdig/data_source_sysdig_secure_policy.go
  sysdig/provider.go
  website/docs/d/secure_managed_ruleset.md
Owners: @jacklongsd, @kmvachhani, @ben-m-lucas, @ombellare, @miguelgordo, @ivanlysiuk-sysdig

fix broken tests
  sysdig/data_source_sysdig_secure_rule_container_test.go
Owners: none

documentation for container rule data source. fix previous documentation for consistency.
  website/docs/d/secure_managed_policy.md
  website/docs/d/secure_managed_ruleset.md
  website/docs/d/secure_notification_channel.md
  website/docs/d/secure_rule_container.md
Owners: @jacklongsd, @kmvachhani, @ben-m-lucas, @ombellare, @miguelgordo, @ivanlysiuk-sysdig

initial implementation for resource sysdig_secure_custom_policy
  sysdig/provider.go
  sysdig/resource_sysdig_secure_custom_policy.go
Owners: @jacklongsd, @kmvachhani, @ben-m-lucas, @ombellare, @miguelgordo, @ivanlysiuk-sysdig

add tests for custom policy resource
  sysdig/resource_sysdig_secure_custom_policy_test.go
Owners: @jacklongsd, @kmvachhani, @ben-m-lucas, @ombellare, @miguelgordo, @ivanlysiuk-sysdig

fix lint errors
  sysdig/resource_sysdig_secure_custom_policy.go
Owners: @jacklongsd, @kmvachhani, @ben-m-lucas, @ombellare, @miguelgordo, @ivanlysiuk-sysdig

fix broken tests
  sysdig/resource_sysdig_secure_custom_policy_test.go
Owners: @jacklongsd, @kmvachhani, @ben-m-lucas, @ombellare, @miguelgordo, @ivanlysiuk-sysdig

fix broken tests
  sysdig/resource_sysdig_secure_custom_policy_test.go
Owners: @jacklongsd, @kmvachhani, @ben-m-lucas, @ombellare, @miguelgordo, @ivanlysiuk-sysdig

Change > for tee
  GNUmakefile
Owners: none

feat(ibm): add ibm secure client
  sysdig/sysdig_clients.go
Owners: none

feat(ibm): fix lint errors
  sysdig/sysdig_clients.go
Owners: none

feat(ibm): test ibm monitor
  .github/workflows/test.yml
Owners: none

Detect problems when build fails
  GNUmakefile
Owners: none

(tests) Fix problems with the make junit-report (#339)
  GNUmakefile
Owners: none

feat(ibm): test ibm monitor alerts
  sysdig/internal/client/v2/client.go
  sysdig/internal/client/v2/sysdig.go
  sysdig/resource_sysdig_monitor_alert_v2_downtime.go
  sysdig/resource_sysdig_monitor_alert_v2_downtime_test.go
  sysdig/resource_sysdig_monitor_alert_v2_event_test.go
  sysdig/resource_sysdig_monitor_alert_v2_metric_test.go
  sysdig/resource_sysdig_monitor_alert_v2_prometheus_test.go
Owners: @arturodilecce, @dbonf

feat(ibm): test ibm monitor alerts
  sysdig/resource_sysdig_monitor_alert_v2_downtime_test.go
  sysdig/resource_sysdig_monitor_alert_v2_event_test.go
  sysdig/resource_sysdig_monitor_alert_v2_metric_test.go
  sysdig/resource_sysdig_monitor_alert_v2_prometheus_test.go
Owners: @arturodilecce, @dbonf

feat(ibm): test ibm monitor alerts
  sysdig/resource_sysdig_monitor_alert_v2_common.go
  sysdig/resource_sysdig_monitor_alert_v2_downtime.go
  sysdig/resource_sysdig_monitor_alert_v2_event.go
  sysdig/resource_sysdig_monitor_alert_v2_metric.go
  sysdig/resource_sysdig_monitor_alert_v2_prometheus.go
Owners: @arturodilecce, @dbonf

feat(ibm): add dashboard to ibm
  sysdig/internal/client/v2/client.go
  sysdig/resource_sysdig_monitor_dashboard.go
Owners: @brokenpip3

add function for importing state for custom policy
  sysdig/resource_sysdig_secure_custom_policy.go
Owners: @jacklongsd, @kmvachhani, @ben-m-lucas, @ombellare, @miguelgordo, @ivanlysiuk-sysdig

feat(policies): data source for "container" rules (#337)
  sysdig/data_source_sysdig_secure_rule.go
  sysdig/data_source_sysdig_secure_rule_container.go
  sysdig/data_source_sysdig_secure_rule_container_test.go
  sysdig/internal/client/v2/model.go
  sysdig/internal/client/v2/rules.go
  sysdig/provider.go
  sysdig/resource_sysdig_secure_rule_container.go
  website/docs/d/secure_managed_policy.md
  website/docs/d/secure_managed_ruleset.md
  website/docs/d/secure_notification_channel.md
  website/docs/d/secure_rule_container.md
Owners: @jacklongsd, @kmvachhani, @ben-m-lucas, @ombellare, @miguelgordo, @ivanlysiuk-sysdig

feat(ibm): add X-Sysdig-Product on ibm requests
  sysdig/internal/client/v2/client.go
  sysdig/internal/client/v2/config.go
  sysdig/internal/client/v2/ibm.go
  sysdig/sysdig_clients.go
Owners: none

fix broken tests
  sysdig/resource_sysdig_secure_custom_policy_test.go
Owners: @jacklongsd, @kmvachhani, @ben-m-lucas, @ombellare, @miguelgordo, @ivanlysiuk-sysdig

add deprecation notice to sysdig_secure_policy
  sysdig/resource_sysdig_secure_policy.go
  website/docs/r/secure_policy.md
Owners: @jacklongsd, @kmvachhani, @ben-m-lucas, @ombellare, @miguelgordo, @ivanlysiuk-sysdig

add documentation for sysdig_secure_custom_policy
  website/docs/r/secure_custom_policy.md
Owners: @jacklongsd, @kmvachhani, @ben-m-lucas, @ombellare, @miguelgordo, @ivanlysiuk-sysdig

feat(policies): resource for custom policies (#338)
  sysdig/provider.go
  sysdig/resource_sysdig_secure_custom_policy.go
  sysdig/resource_sysdig_secure_custom_policy_test.go
  sysdig/resource_sysdig_secure_policy.go
  website/docs/r/secure_custom_policy.md
Owners: @jacklongsd, @kmvachhani, @ben-m-lucas, @ombellare, @miguelgordo, @ivanlysiuk-sysdig
