Repository sysdiglabs/terraform-provider-sysdig, changes with the owners that CODEOWNERS names for each.
All owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier, @marojor, @francesco-racciatti, @pgcrooks-sysdig, @gnosek, @haresh-suresh, @nkraemer-sysdig, @michelevergnano, @dkutsanov, @antonio-cuomo, @dbonf, @rossifrancesco, @jwsarna1, @shadow649, @kmvachhani, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig, @IvanNik, @hila1608, @yaminSapir, @chen-shmilovich-sysdig, @zohar-arad, @igoreulalio

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo, unless a later match takes precedence
* @filiptubic @mbarbieri @draraksysdig @tembleking @airadier

# Fargate workload agent
*fargate* @marojor @francesco-racciatti @pgcrooks-sysdig @gnosek

# compliance
*benchmark* @haresh-suresh  @nkraemer-sysdig

# monitor
*monitor*alert* @michelevergnano @dkutsanov @antonio-cuomo @dbonf
*monitor*dashboard* @rossifrancesco
*monitor*providers* @jwsarna1
*monitor*groupmapping* @shadow649
*notification_channel* @michelevergnano @dkutsanov @antonio-cuomo @dbonf
*inhibition_rule* @michelevergnano @dkutsanov @antonio-cuomo @dbonf
*silence_rule* @michelevergnano @dkutsanov @antonio-cuomo @dbonf

# policies/rules
*secure*policy* @kmvachhani @rosenbloomb-sysdig @ombellare @miguelgordo @ivanlysiuk-sysdig @daniel-almeida @jbainbridgesysdig @IvanNik @hila1608 @yaminSapir @chen-shmilovich-sysdig @zohar-arad

# internal components
/sysdig/internal/client/v2/client.go @filiptubic @mbarbieri @draraksysdig @tembleking @airadier
/sysdig/internal/client/v2/config.go @filiptubic @mbarbieri @draraksysdig @tembleking @airadier
/sysdig/internal/client/v2/ibm.go @filiptubic @mbarbieri @draraksysdig @tembleking @airadier
/sysdig/internal/client/v2/agentaccesskey.go @igoreulalio @filiptubic @mbarbieri @draraksysdig @tembleking @airadier
/main.go @filiptubic @mbarbieri @draraksysdig @tembleking @airadier
/.goreleaser.yml @filiptubic @mbarbieri @draraksysdig @tembleking @airadier
/.github/ @filiptubic @mbarbieri @draraksysdig @tembleking @airadier

Update data_source_sysdig_secure_rule_stateful_count_test.go
  sysdig/data_source_sysdig_secure_rule_stateful_count_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

address review comments
  sysdig/data_source_sysdig_secure_rule_stateful.go
  sysdig/data_source_sysdig_secure_rule_stateful_count.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

Update data_source_sysdig_secure_rule_stateful.go
  sysdig/data_source_sysdig_secure_rule_stateful.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

Update data_source_sysdig_secure_rule_stateful.go
  sysdig/data_source_sysdig_secure_rule_stateful.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

add data source for secure zones
  sysdig/data_source_sysdig_secure_zone.go
  sysdig/data_source_sysdig_secure_zone_test.go
  sysdig/internal/client/v2/model.go
  sysdig/internal/client/v2/zones.go
  sysdig/provider.go
  website/docs/d/secure_zone.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

stateful rules: fix docs and ci (#611)
  .github/workflows/ci-provider-docs.yaml
  sysdig/data_source_sysdig_secure_rule_stateful.go
  sysdig/data_source_sysdig_secure_rule_stateful_count.go
  sysdig/data_source_sysdig_secure_rule_stateful_count_test.go
  sysdig/data_source_sysdig_secure_rule_stateful_test.go
  sysdig/provider.go
  website/docs/d/secure_rule_stateful.md
  website/docs/d/secure_rule_stateful_count.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

updated docs to reflect potential 403 error when not setting optionl share_with_current_team in monitor_notification_channels
  website/docs/r/monitor_notification_channel_custom_webhook.md
  website/docs/r/monitor_notification_channel_email.md
  website/docs/r/monitor_notification_channel_google_chat.md
  website/docs/r/monitor_notification_channel_ibm_event_notification.md
  website/docs/r/monitor_notification_channel_ibm_function.md
  website/docs/r/monitor_notification_channel_msteams.md
  website/docs/r/monitor_notification_channel_opsgenie.md
  website/docs/r/monitor_notification_channel_pagerduty.md
  website/docs/r/monitor_notification_channel_prometheus_alert_manager.md
  website/docs/r/monitor_notification_channel_slack.md
  website/docs/r/monitor_notification_channel_sns.md
  website/docs/r/monitor_notification_channel_team_email.md
  website/docs/r/monitor_notification_channel_victorops.md
  website/docs/r/monitor_notification_channel_webhook.md
Owners: @michelevergnano, @dkutsanov, @antonio-cuomo, @dbonf

feat(zone): add Zone resource for Secure (#609)
  sysdig/internal/client/v2/client.go
  sysdig/internal/client/v2/client_test.go
  sysdig/internal/client/v2/model.go
  sysdig/internal/client/v2/posture_zones.go
  sysdig/internal/client/v2/zones.go
  sysdig/provider.go
  sysdig/resource_sysdig_secure_zone.go
  sysdig/resource_sysdig_secure_zone_test.go
  website/docs/r/secure_zone.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

add data source for secure zones
  sysdig/data_source_sysdig_secure_zone.go
  sysdig/data_source_sysdig_secure_zone_test.go
  sysdig/internal/client/v2/model.go
  sysdig/internal/client/v2/zones.go
  sysdig/provider.go
  website/docs/d/secure_zone.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

fix secure_zone.md
  website/docs/d/secure_zone.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

fix acc test
  sysdig/data_source_sysdig_secure_zone_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

fix acc test
  sysdig/data_source_sysdig_secure_zone_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

fix acc test
  sysdig/data_source_sysdig_secure_zone_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

updated share_with_current_team docs for secure_notification_channel-* with 403 error note
  website/docs/r/secure_notification_channel_email.md
  website/docs/r/secure_notification_channel_msteams.md
  website/docs/r/secure_notification_channel_opsgenie.md
  website/docs/r/secure_notification_channel_pagerduty.md
  website/docs/r/secure_notification_channel_prometheus_alert_manager.md
  website/docs/r/secure_notification_channel_slack.md
  website/docs/r/secure_notification_channel_sns.md
  website/docs/r/secure_notification_channel_team_email.md
  website/docs/r/secure_notification_channel_victorops.md
  website/docs/r/secure_notification_channel_webhook.md
Owners: @michelevergnano, @dkutsanov, @antonio-cuomo, @dbonf

feat(secure-zone): add data source for secure zone (#615)
  sysdig/data_source_sysdig_secure_zone.go
  sysdig/data_source_sysdig_secure_zone_test.go
  sysdig/internal/client/v2/model.go
  sysdig/internal/client/v2/zones.go
  sysdig/provider.go
  website/docs/d/secure_zone.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

run acc test for creating zones in onprem
  sysdig/resource_sysdig_secure_zone_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

run acc test for creating zones in onprem (#616)
  sysdig/resource_sysdig_secure_zone_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

fix setid
  sysdig/data_source_sysdig_secure_onboarding.go
  sysdig/internal/client/v2/cloudauth/go/cloud_account.pb.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

add validation
  sysdig/data_source_sysdig_secure_onboarding.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

add api dest
  sysdig/data_source_sysdig_secure_onboarding.go
  sysdig/data_source_sysdig_secure_onboarding_test.go
  sysdig/internal/client/v2/onboarding.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

update proto
  sysdig/internal/client/v2/cloudauth/go/cloud_account.pb.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

update naming
  sysdig/data_source_sysdig_secure_onboarding.go
  sysdig/data_source_sysdig_secure_onboarding_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

remove ifs
  sysdig/data_source_sysdig_secure_onboarding.go
  sysdig/data_source_sysdig_secure_onboarding_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

add optional component type
  sysdig/data_source_sysdig_secure_onboarding.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

change test
  sysdig/data_source_sysdig_secure_onboarding_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

feat(event-bridge): add cloudingestion event-bridge webhook (SSPROD-53947) (#607)
  sysdig/data_source_sysdig_secure_onboarding.go
  sysdig/data_source_sysdig_secure_onboarding_test.go
  sysdig/internal/client/v2/cloudauth/go/cloud_account.pb.go
  sysdig/internal/client/v2/onboarding.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

use public api for creating zones in `sysdig_secure_posture_zone` resource
  sysdig/internal/client/v2/model.go
  sysdig/internal/client/v2/posture_zones.go
  sysdig/resource_sysdig_secure_posture_zone.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

use public api for creating zones in `sysdig_secure_posture_zone` resource
  sysdig/internal/client/v2/model.go
  sysdig/internal/client/v2/posture_zones.go
  sysdig/resource_sysdig_secure_posture_zone.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

fix ineffassign warning
  sysdig/resource_sysdig_secure_posture_zone.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

docs(issue 612): updated docs to reflect potential 403 error (#613)
  website/docs/r/monitor_notification_channel_custom_webhook.md
  website/docs/r/monitor_notification_channel_email.md
  website/docs/r/monitor_notification_channel_google_chat.md
  website/docs/r/monitor_notification_channel_ibm_event_notification.md
  website/docs/r/monitor_notification_channel_ibm_function.md
  website/docs/r/monitor_notification_channel_msteams.md
  website/docs/r/monitor_notification_channel_opsgenie.md
  website/docs/r/monitor_notification_channel_pagerduty.md
  website/docs/r/monitor_notification_channel_prometheus_alert_manager.md
  website/docs/r/monitor_notification_channel_slack.md
  website/docs/r/monitor_notification_channel_sns.md
  website/docs/r/monitor_notification_channel_team_email.md
  website/docs/r/monitor_notification_channel_victorops.md
  website/docs/r/monitor_notification_channel_webhook.md
  website/docs/r/secure_notification_channel_email.md
  website/docs/r/secure_notification_channel_msteams.md
  website/docs/r/secure_notification_channel_opsgenie.md
  website/docs/r/secure_notification_channel_pagerduty.md
  website/docs/r/secure_notification_channel_prometheus_alert_manager.md
  website/docs/r/secure_notification_channel_slack.md
  website/docs/r/secure_notification_channel_sns.md
  website/docs/r/secure_notification_channel_team_email.md
  website/docs/r/secure_notification_channel_victorops.md
  website/docs/r/secure_notification_channel_webhook.md
Owners: @michelevergnano, @dkutsanov, @antonio-cuomo, @dbonf

remove validation on component type param
  sysdig/data_source_sysdig_secure_onboarding.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

fix: wrong doc title and example for IBM Function notification
  website/docs/d/monitor_notification_channel_ibm_function.md
Owners: @michelevergnano, @dkutsanov, @antonio-cuomo, @dbonf

fix(doc): Fix name and update URL for fargate workload agent
  website/docs/d/fargate_workload_agent.md
Owners: @marojor, @francesco-racciatti, @pgcrooks-sysdig, @gnosek

fix(docs): Fix document for secure_posture_policy data source
  website/docs/d/secure_posture_policy.md
Owners: @kmvachhani, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig, @IvanNik, @hila1608, @yaminSapir, @chen-shmilovich-sysdig, @zohar-arad

bump cloudaccount proto
  sysdig/internal/client/v2/cloudauth/go/cloud_account.pb.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

bump cloudaccount proto (#623)
  sysdig/internal/client/v2/cloudauth/go/cloud_account.pb.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

add `sysdig_monitor_team` and `sysdig_secure_team` data sources
  sysdig/data_source_sysdig_monitor_team.go
  sysdig/data_source_sysdig_monitor_team_test.go
  sysdig/data_source_sysdig_secure_team.go
  sysdig/data_source_sysdig_secure_team_test.go
  sysdig/data_source_sysdig_secure_zone.go
  sysdig/provider.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

rename helper methods
  sysdig/data_source_sysdig_monitor_team_test.go
  sysdig/data_source_sysdig_secure_team_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

fix acc test
  sysdig/data_source_sysdig_monitor_team_test.go
  sysdig/data_source_sysdig_secure_team_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

update schema resources: Read -> ReadContext
  sysdig/data_source_sysdig_monitor_team.go
  sysdig/data_source_sysdig_secure_team.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier
