Repository sysdiglabs/terraform-provider-sysdig, changes with the owners that CODEOWNERS names for each.
All owners: @marojor, @francesco-racciatti, @pgcrooks-sysdig, @haresh-suresh, @nkraemer-sysdig, @arturodilecce, @dbonf, @brokenpip3, @jwsarna1, @shadow649, @jacklongsd, @kmvachhani, @ben-m-lucas, @ombellare, @miguelgordo, @ivanlysiuk-sysdig

CODEOWNERS:

# Fargate workload agent
*fargate* @marojor @francesco-racciatti @pgcrooks-sysdig

# compliance
*benchmark* @haresh-suresh  @nkraemer-sysdig

# monitor
*monitor*alert* @arturodilecce @dbonf
*monitor*dashboard* @brokenpip3
*monitor*providers* @jwsarna1
*monitor*groupmapping* @shadow649

# policies/rules
*secure*policy* @jacklongsd @kmvachhani @ben-m-lucas @ombellare @miguelgordo @ivanlysiuk-sysdig

use default false skipPolicyV2Msg
  sysdig/sysdig_clients.go
Owners: none

fix(docs): fix custom roles links (#411)
  website/docs/r/custom_role.md
Owners: none

Populate features only if value is not nil
  sysdig/resource_sysdig_secure_cloud_auth_account.go
Owners: none

Setaccount features using function
  sysdig/resource_sysdig_secure_cloud_auth_account.go
Owners: none

Refactor fromResourceData function
  sysdig/resource_sysdig_secure_cloud_auth_account.go
Owners: none

fix: lint errors
  sysdig/data_source_sysdig_fargate_ECS_test.go
  sysdig/data_source_sysdig_fargate_workload_agent.go
Owners: @marojor, @francesco-racciatti, @pgcrooks-sysdig

docs: update fargate argument reference
  website/docs/d/fargate_workload_agent.md
Owners: @marojor, @francesco-racciatti, @pgcrooks-sysdig

refactor: use patch options data struct everywhere
  sysdig/data_source_sysdig_fargate_ECS_test.go
  sysdig/data_source_sysdig_fargate_workload_agent.go
Owners: @marojor, @francesco-racciatti, @pgcrooks-sysdig

refactor: wrap patch options in dedicated struct
  sysdig/data_source_sysdig_fargate_ECS_test.go
  sysdig/data_source_sysdig_fargate_workload_agent.go
Owners: @marojor, @francesco-racciatti, @pgcrooks-sysdig

refactor: make UTs more readable
  sysdig/data_source_sysdig_fargate_ECS_test.go
Owners: @marojor, @francesco-racciatti, @pgcrooks-sysdig

feat: add parameter to instrument certain containers with bare pdig
  sysdig/data_source_sysdig_fargate_ECS_test.go
  sysdig/data_source_sysdig_fargate_workload_agent.go
  sysdig/testfiles/fargate_bare_pdig.json
  sysdig/testfiles/fargate_bare_pdig_expected.json
Owners: @marojor, @francesco-racciatti, @pgcrooks-sysdig

refactor: move kilt recipe construction to dedicated function
  sysdig/data_source_sysdig_fargate_ECS_test.go
Owners: @marojor, @francesco-racciatti, @pgcrooks-sysdig

Parse and populate Service Prinicipal Private Key in metadata
  sysdig/resource_sysdig_secure_cloud_auth_account.go
Owners: none

[SSPROD-29925] - Add features and components to schema (#410)
  sysdig/internal/client/v2/cloudauth/go/account_component.pb.go
  sysdig/internal/client/v2/cloudauth/go/cloud_account.pb.go
  sysdig/internal/client/v2/cloudauth/go/cloud_organization.pb.go
  sysdig/resource_sysdig_secure_cloud_auth_account.go
Owners: none

SSPROD-29302: Add comment
  sysdig/internal/client/v2/model.go
Owners: none

SSPROD-29302: using proto def
  go.mod
  go.sum
  sysdig/internal/client/v2/model.go
  sysdig/resource_sysdig_secure_organization.go
Owners: none

SSPROD-29302: Local copy of pb code
  go.mod
  sysdig/resource_sysdig_secure_organization.go
Owners: none

SSPROD-29302: Temp disable Validation
  sysdig/resource_sysdig_secure_organization.go
Owners: none

SSPROD-29302: Changes in response to new Cloudauth account
  sysdig/internal/client/v2/model.go
  sysdig/internal/client/v2/organization.go
  sysdig/resource_sysdig_secure_organization.go
Owners: none

SSPROD-29302: Provider support for organization resource
  sysdig/internal/client/v2/model.go
  sysdig/internal/client/v2/organization.go
  sysdig/internal/client/v2/sysdig.go
  sysdig/provider.go
  sysdig/resource_sysdig_secure_organization.go
Owners: none

TF destroy logs
  sysdig/resource_sysdig_secure_cloud_auth_account.go
Owners: none

restructure so we can provide closing code for sysdigclients. This will create a hook where we can make a final API call to go ahead and forward policyv2 messages.
  main.go
  sysdig/provider.go
  sysdig/sysdig_clients.go
Owners: none

feat(alerts): add unreported_alert_notifications_retention_seconds argument to alerts
  sysdig/internal/client/v2/model.go
  sysdig/resource_sysdig_monitor_alert_v2_change.go
  sysdig/resource_sysdig_monitor_alert_v2_change_test.go
  sysdig/resource_sysdig_monitor_alert_v2_downtime.go
  sysdig/resource_sysdig_monitor_alert_v2_downtime_test.go
  sysdig/resource_sysdig_monitor_alert_v2_form_based_prometheus.go
  sysdig/resource_sysdig_monitor_alert_v2_metric.go
  sysdig/resource_sysdig_monitor_alert_v2_metric_test.go
  website/docs/r/monitor_alert_v2_change.md
  website/docs/r/monitor_alert_v2_downtime.md
  website/docs/r/monitor_alert_v2_form_based_prometheus.md
  website/docs/r/monitor_alert_v2_metric.md
Owners: @arturodilecce, @dbonf

update provider to send PolicyV2Msg after all of the changes have been completed
  sysdig/internal/client/v2/client.go
  sysdig/internal/client/v2/ibm.go
  sysdig/internal/client/v2/list.go
  sysdig/internal/client/v2/macros.go
  sysdig/internal/client/v2/policies.go
  sysdig/internal/client/v2/rules.go
  sysdig/internal/client/v2/sysdig.go
  sysdig/provider.go
  sysdig/sysdig_clients.go
Owners: none

Return map
  sysdig/resource_sysdig_secure_cloud_auth_account.go
Owners: none

Fix destroy blockers for features and components
  sysdig/resource_sysdig_secure_cloud_auth_account.go
Owners: none

Add features to map dynamically
  sysdig/resource_sysdig_secure_cloud_auth_account.go
Owners: none

Refine logic
  sysdig/resource_sysdig_secure_cloud_auth_account.go
Owners: none

feat(alerts): add unreported_alert_notifications_retention_seconds argument to alerts (#416)
  sysdig/internal/client/v2/model.go
  sysdig/resource_sysdig_monitor_alert_v2_change.go
  sysdig/resource_sysdig_monitor_alert_v2_change_test.go
  sysdig/resource_sysdig_monitor_alert_v2_downtime.go
  sysdig/resource_sysdig_monitor_alert_v2_downtime_test.go
  sysdig/resource_sysdig_monitor_alert_v2_form_based_prometheus.go
  sysdig/resource_sysdig_monitor_alert_v2_metric.go
  sysdig/resource_sysdig_monitor_alert_v2_metric_test.go
  website/docs/r/monitor_alert_v2_change.md
  website/docs/r/monitor_alert_v2_downtime.md
  website/docs/r/monitor_alert_v2_form_based_prometheus.md
  website/docs/r/monitor_alert_v2_metric.md
Owners: @arturodilecce, @dbonf
