Repository sysdiglabs/terraform-provider-sysdig, changes with the owners that CODEOWNERS names for each.
All owners: @marojor, @francesco-racciatti, @pgcrooks-sysdig, @haresh-suresh, @nkraemer-sysdig, @arturodilecce, @dbonf, @brokenpip3, @jwsarna1, @shadow649, @jacklongsd, @kmvachhani, @ben-m-lucas, @ombellare, @miguelgordo, @ivanlysiuk-sysdig

feat(alerts): allow ibm client for alert_v2 resources
  sysdig/internal/client/v2/client.go
  sysdig/internal/client/v2/sysdig.go
  sysdig/resource_sysdig_monitor_alert_v2_common.go
  sysdig/resource_sysdig_monitor_alert_v2_downtime.go
  sysdig/resource_sysdig_monitor_alert_v2_downtime_test.go
  sysdig/resource_sysdig_monitor_alert_v2_event.go
  sysdig/resource_sysdig_monitor_alert_v2_event_test.go
  sysdig/resource_sysdig_monitor_alert_v2_metric.go
  sysdig/resource_sysdig_monitor_alert_v2_metric_test.go
  sysdig/resource_sysdig_monitor_alert_v2_prometheus.go
  sysdig/resource_sysdig_monitor_alert_v2_prometheus_test.go
  website/docs/index.md
Owners: @arturodilecce, @dbonf

feat(dashboard): allow ibm client for sysdig_monitor_dashboard resource
  sysdig/internal/client/v2/client.go
  sysdig/internal/client/v2/sysdig.go
  sysdig/resource_sysdig_monitor_dashboard.go
  sysdig/resource_sysdig_monitor_dashboard_test.go
  website/docs/index.md
Owners: @brokenpip3

feat(alerts): allow ibm client for alert v2 and dashboard resources (#391)
  sysdig/internal/client/v2/client.go
  sysdig/internal/client/v2/sysdig.go
  sysdig/resource_sysdig_monitor_alert_v2_common.go
  sysdig/resource_sysdig_monitor_alert_v2_downtime.go
  sysdig/resource_sysdig_monitor_alert_v2_downtime_test.go
  sysdig/resource_sysdig_monitor_alert_v2_event.go
  sysdig/resource_sysdig_monitor_alert_v2_event_test.go
  sysdig/resource_sysdig_monitor_alert_v2_metric.go
  sysdig/resource_sysdig_monitor_alert_v2_metric_test.go
  sysdig/resource_sysdig_monitor_alert_v2_prometheus.go
  sysdig/resource_sysdig_monitor_alert_v2_prometheus_test.go
  sysdig/resource_sysdig_monitor_dashboard.go
  sysdig/resource_sysdig_monitor_dashboard_test.go
  website/docs/index.md
Owners: @arturodilecce, @dbonf, @brokenpip3

Fix exclude username from zone request
  sysdig/internal/client/v2/model.go
  sysdig/resource_sysdig_secure_posture_zone.go
Owners: none

Fix exclude username from zone request (#394)
  sysdig/internal/client/v2/model.go
  sysdig/resource_sysdig_secure_posture_zone.go
Owners: none

feat(notification channel): add allow_insecure_connections field to webhook notification channels
  sysdig/resource_sysdig_monitor_notification_channel_webhook.go
  sysdig/resource_sysdig_monitor_notification_channel_webhook_test.go
  sysdig/resource_sysdig_secure_notification_channel_webhook.go
  sysdig/resource_sysdig_secure_notification_channel_webhook_test.go
  website/docs/r/monitor_notification_channel_webhook.md
  website/docs/r/secure_notification_channel_webhook.md
Owners: none

feat(notification channel): add custom_data field to webhook notification channels
  sysdig/internal/client/v2/model.go
  sysdig/resource_sysdig_monitor_notification_channel_webhook.go
  sysdig/resource_sysdig_monitor_notification_channel_webhook_test.go
  sysdig/resource_sysdig_secure_notification_channel_webhook.go
  sysdig/resource_sysdig_secure_notification_channel_webhook_test.go
  website/docs/r/monitor_notification_channel_webhook.md
  website/docs/r/secure_notification_channel_webhook.md
Owners: none

feat(notification channel): add fields to webhook notification channels (#392)
  sysdig/internal/client/v2/model.go
  sysdig/resource_sysdig_monitor_notification_channel_webhook.go
  sysdig/resource_sysdig_monitor_notification_channel_webhook_test.go
  sysdig/resource_sysdig_secure_notification_channel_webhook.go
  sysdig/resource_sysdig_secure_notification_channel_webhook_test.go
  website/docs/r/monitor_notification_channel_webhook.md
  website/docs/r/secure_notification_channel_webhook.md
Owners: none

feat(notification channel): add new arguments to monitor slack notification channels
  sysdig/internal/client/v2/model.go
  sysdig/resource_sysdig_monitor_notification_channel_slack.go
  sysdig/resource_sysdig_monitor_notification_channel_slack_test.go
  website/docs/r/monitor_notification_channel_slack.md
Owners: none

feat(notification channel): add new arguments to monitor slack notification channels (#395)
  sysdig/internal/client/v2/model.go
  sysdig/resource_sysdig_monitor_notification_channel_slack.go
  sysdig/resource_sysdig_monitor_notification_channel_slack_test.go
  website/docs/r/monitor_notification_channel_slack.md
Owners: none

fix(tests): remove fixed team name in tests
  sysdig/resource_sysdig_monitor_notification_channel_team_email_test.go
  sysdig/resource_sysdig_secure_notification_channel_team_email_test.go
Owners: none

fix(tests): remove fixed team name in tests (#398)
  sysdig/resource_sysdig_monitor_notification_channel_team_email_test.go
  sysdig/resource_sysdig_secure_notification_channel_team_email_test.go
Owners: none

feat(monitor): resource for silence rule
  sysdig/internal/client/v2/client.go
  sysdig/internal/client/v2/model.go
  sysdig/internal/client/v2/silence_rule.go
  sysdig/provider.go
  sysdig/resource_sysdig_monitor_silence_rule.go
  sysdig/resource_sysdig_monitor_silence_rule_test.go
  website/docs/index.md
  website/docs/r/monitor_silence_rule.md
Owners: none

feat(monitor): resource for silence rule (#390)
  sysdig/internal/client/v2/client.go
  sysdig/internal/client/v2/model.go
  sysdig/internal/client/v2/silence_rule.go
  sysdig/provider.go
  sysdig/resource_sysdig_monitor_silence_rule.go
  sysdig/resource_sysdig_monitor_silence_rule_test.go
  website/docs/index.md
  website/docs/r/monitor_silence_rule.md
Owners: none

feat(alerts): add change alert type
  sysdig/internal/client/v2/alerts_v2.go
  sysdig/internal/client/v2/model.go
  sysdig/provider.go
  sysdig/resource_sysdig_monitor_alert_v2_change.go
  sysdig/resource_sysdig_monitor_alert_v2_change_test.go
  sysdig/resource_sysdig_monitor_alert_v2_common.go
  sysdig/resource_sysdig_monitor_alert_v2_downtime.go
  sysdig/resource_sysdig_monitor_alert_v2_event.go
  sysdig/resource_sysdig_monitor_alert_v2_metric.go
  sysdig/resource_sysdig_monitor_alert_v2_prometheus.go
  website/docs/index.md
  website/docs/r/monitor_alert_anomaly.md
  website/docs/r/monitor_alert_downtime.md
  website/docs/r/monitor_alert_event.md
  website/docs/r/monitor_alert_group_outlier.md
  website/docs/r/monitor_alert_metric.md
  website/docs/r/monitor_alert_promql.md
  website/docs/r/monitor_alert_v2_change.md
  website/docs/r/monitor_alert_v2_downtime.md
  website/docs/r/monitor_alert_v2_metric.md
  website/docs/r/monitor_alert_v2_prometheus.md
Owners: @arturodilecce, @dbonf

feat(alerts): add change alert type (#393)
  sysdig/internal/client/v2/alerts_v2.go
  sysdig/internal/client/v2/model.go
  sysdig/provider.go
  sysdig/resource_sysdig_monitor_alert_v2_change.go
  sysdig/resource_sysdig_monitor_alert_v2_change_test.go
  sysdig/resource_sysdig_monitor_alert_v2_common.go
  sysdig/resource_sysdig_monitor_alert_v2_downtime.go
  sysdig/resource_sysdig_monitor_alert_v2_event.go
  sysdig/resource_sysdig_monitor_alert_v2_metric.go
  sysdig/resource_sysdig_monitor_alert_v2_prometheus.go
  website/docs/index.md
  website/docs/r/monitor_alert_anomaly.md
  website/docs/r/monitor_alert_downtime.md
  website/docs/r/monitor_alert_event.md
  website/docs/r/monitor_alert_group_outlier.md
  website/docs/r/monitor_alert_metric.md
  website/docs/r/monitor_alert_promql.md
  website/docs/r/monitor_alert_v2_change.md
  website/docs/r/monitor_alert_v2_downtime.md
  website/docs/r/monitor_alert_v2_metric.md
  website/docs/r/monitor_alert_v2_prometheus.md
Owners: @arturodilecce, @dbonf

feat(alerts): add form based prometheus alert type
  sysdig/internal/client/v2/alerts_v2.go
  sysdig/internal/client/v2/model.go
  sysdig/provider.go
  sysdig/resource_sysdig_monitor_alert_v2_change_test.go
  sysdig/resource_sysdig_monitor_alert_v2_form_based_prometheus.go
  sysdig/resource_sysdig_monitor_alert_v2_form_based_prometheus_test.go
  sysdig/resource_sysdig_monitor_alert_v2_metric_test.go
  website/docs/index.md
  website/docs/r/monitor_alert_v2_event.md
  website/docs/r/monitor_alert_v2_form_based_prometheus.md
  website/docs/r/monitor_alert_v2_metric.md
  website/docs/r/monitor_alert_v2_prometheus.md
Owners: @arturodilecce, @dbonf

feat(alerts): add form based prometheus alert type (#396)
  sysdig/internal/client/v2/alerts_v2.go
  sysdig/internal/client/v2/model.go
  sysdig/provider.go
  sysdig/resource_sysdig_monitor_alert_v2_change_test.go
  sysdig/resource_sysdig_monitor_alert_v2_form_based_prometheus.go
  sysdig/resource_sysdig_monitor_alert_v2_form_based_prometheus_test.go
  sysdig/resource_sysdig_monitor_alert_v2_metric_test.go
  website/docs/index.md
  website/docs/r/monitor_alert_v2_event.md
  website/docs/r/monitor_alert_v2_form_based_prometheus.md
  website/docs/r/monitor_alert_v2_metric.md
  website/docs/r/monitor_alert_v2_prometheus.md
Owners: @arturodilecce, @dbonf

refactor current tests
  sysdig/data_source_sysdig_monitor_notification_channel_email_test.go
  sysdig/data_source_sysdig_monitor_notification_channel_pagerduty_test.go
Owners: none

rename functions
  sysdig/resource_sysdig_monitor_notification_channel_ibm_cloud_function.go
Owners: none

feat(notification channel): add data sources for secure notification channels
  sysdig/data_source_sysdig_monitor_notification_channel_ibm_event_notification_test.go
  sysdig/data_source_sysdig_secure_notification_channel_email.go
  sysdig/data_source_sysdig_secure_notification_channel_email_test.go
  sysdig/data_source_sysdig_secure_notification_channel_msteams.go
  sysdig/data_source_sysdig_secure_notification_channel_msteams_test.go
  sysdig/data_source_sysdig_secure_notification_channel_opsgenie.go
  sysdig/data_source_sysdig_secure_notification_channel_opsgenie_test.go
  sysdig/data_source_sysdig_secure_notification_channel_pagerduty.go
  sysdig/data_source_sysdig_secure_notification_channel_pagerduty_test.go
  sysdig/data_source_sysdig_secure_notification_channel_prometheus_alert_manager.go
  sysdig/data_source_sysdig_secure_notification_channel_prometheus_alert_manager_test.go
  sysdig/data_source_sysdig_secure_notification_channel_slack.go
  sysdig/data_source_sysdig_secure_notification_channel_slack_test.go
  sysdig/data_source_sysdig_secure_notification_channel_sns.go
  sysdig/data_source_sysdig_secure_notification_channel_sns_test.go
  sysdig/data_source_sysdig_secure_notification_channel_team_email.go
  sysdig/data_source_sysdig_secure_notification_channel_team_email_test.go
  sysdig/data_source_sysdig_secure_notification_channel_victorops.go
  sysdig/data_source_sysdig_secure_notification_channel_victorops_test.go
  sysdig/data_source_sysdig_secure_notification_channel_webhook.go
  sysdig/data_source_sysdig_secure_notification_channel_webhook_test.go
  sysdig/provider.go
  website/docs/d/secure_notification_channel_email.md
  website/docs/d/secure_notification_channel_msteams.md
  website/docs/d/secure_notification_channel_opsgenie.md
  website/docs/d/secure_notification_channel_pagerduty.md
  website/docs/d/secure_notification_channel_prometheus_alert_manager.md
  website/docs/d/secure_notification_channel_slack.md
  website/docs/d/secure_notification_channel_sns.md
  website/docs/d/secure_notification_channel_team_email.md
  website/docs/d/secure_notification_channel_victorops.md
  website/docs/d/secure_notification_channel_webhook.md
Owners: none

fix
  sysdig/data_source_sysdig_monitor_notification_channel_slack_test.go
  sysdig/data_source_sysdig_monitor_notification_channel_sns.go
  sysdig/data_source_sysdig_monitor_notification_channel_team_email_test.go
  sysdig/data_source_sysdig_secure_notification_channel_msteams_test.go
  sysdig/data_source_sysdig_secure_notification_channel_slack_test.go
  sysdig/data_source_sysdig_secure_notification_channel_sns.go
  sysdig/data_source_sysdig_secure_notification_channel_team_email_test.go
Owners: none

fix(tests): scope down query in tests
  sysdig/resource_sysdig_monitor_alert_v2_form_based_prometheus_test.go
Owners: @arturodilecce, @dbonf

fix(tests): scope down query in tests (#401)
  sysdig/resource_sysdig_monitor_alert_v2_form_based_prometheus_test.go
Owners: @arturodilecce, @dbonf

fix monitor cloud account test
  sysdig/resource_sysdig_monitor_cloud_account_test.go
Owners: none

fix monitor cloud account test (#403)
  sysdig/resource_sysdig_monitor_cloud_account_test.go
Owners: none

Initial draft of resource
  sysdig/resource_sysdig_secure_cloud_account_v2.go
Owners: none

SSPROD-29308: Implement CloudAccount client v2 for Secure
  sysdig/internal/client/v2/cloud_account_v2.go
  sysdig/internal/client/v2/model.go
  sysdig/internal/client/v2/sysdig.go
Owners: none

SSPROD-29302: Provider support for organization resource
  sysdig/internal/client/v2/model.go
  sysdig/internal/client/v2/organization.go
  sysdig/internal/client/v2/sysdig.go
  sysdig/provider.go
  sysdig/resource_sysdig_secure_organization.go
Owners: none

SSPROD-29302: Add comment
  sysdig/internal/client/v2/model.go
Owners: none

SSPROD-29302: Correct payload
  sysdig/internal/client/v2/organization.go
Owners: none

go fmt file
  sysdig/resource_sysdig_secure_cloud_account_v2.go
Owners: none

Use declared functions
  sysdig/resource_sysdig_secure_cloud_account_v2.go
Owners: none

SSPROD-29308: Update the CloudAccountSecureV2 model object
  sysdig/internal/client/v2/cloud_account_v2.go
  sysdig/internal/client/v2/model.go
Owners: none

Rename and add resource
  sysdig/provider.go
  sysdig/resource_sysdig_secure_cloud_auth_account.go
Owners: none

Remove unused file
  sysdig/provider.go
  sysdig/resource_sysdig_secure_cloud_account_v2.go
  sysdig/resource_sysdig_secure_cloud_auth_account.go
Owners: none

Reformat files
  sysdig/provider.go
Owners: none

SSPROD-29302: using proto def
  go.mod
  go.sum
  sysdig/internal/client/v2/model.go
  sysdig/resource_sysdig_secure_organization.go
Owners: none

SSPROD-29308: Use cloudauth proto objects and rename client file
  go.mod
  go.sum
  sysdig/internal/client/v2/cloud_account_v2.go
  sysdig/internal/client/v2/cloudauth.go
  sysdig/internal/client/v2/model.go
  sysdig/internal/client/v2/sysdig.go
Owners: none

SSPROD-29302: Local copy of pb code
  go.mod
  sysdig/internal/client/v2/cloudauth/go/cloud_account.pb.go
  sysdig/internal/client/v2/cloudauth/go/cloud_organization.pb.go
  sysdig/internal/client/v2/model.go
  sysdig/internal/client/v2/organization.go
  sysdig/resource_sysdig_secure_organization.go
Owners: none

CODEOWNERS:

# Fargate workload agent
*fargate* @marojor @francesco-racciatti @pgcrooks-sysdig

# compliance
*benchmark* @haresh-suresh  @nkraemer-sysdig

# monitor
*monitor*alert* @arturodilecce @dbonf
*monitor*dashboard* @brokenpip3
*monitor*providers* @jwsarna1
*monitor*groupmapping* @shadow649

# policies/rules
*secure*policy* @jacklongsd @kmvachhani @ben-m-lucas @ombellare @miguelgordo @ivanlysiuk-sysdig
