Repository sysdiglabs/terraform-provider-sysdig, changes with the owners that CODEOWNERS names for each.
All owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier, @marojor, @francesco-racciatti, @pgcrooks-sysdig, @gnosek, @haresh-suresh, @nkraemer-sysdig, @michelevergnano, @dkutsanov, @antonio-cuomo, @dbonf, @rossifrancesco, @jwsarna1, @shadow649, @kmvachhani, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig, @IvanNik, @hila1608, @yaminSapir, @chen-shmilovich-sysdig, @zohar-arad, @igoreulalio

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo, unless a later match takes precedence
* @filiptubic @mbarbieri @draraksysdig @tembleking @airadier

# Fargate workload agent
*fargate* @marojor @francesco-racciatti @pgcrooks-sysdig @gnosek

# compliance
*benchmark* @haresh-suresh  @nkraemer-sysdig

# monitor
*monitor*alert* @michelevergnano @dkutsanov @antonio-cuomo @dbonf
*monitor*dashboard* @rossifrancesco
*monitor*providers* @jwsarna1
*monitor*groupmapping* @shadow649
*notification_channel* @michelevergnano @dkutsanov @antonio-cuomo @dbonf
*inhibition_rule* @michelevergnano @dkutsanov @antonio-cuomo @dbonf
*silence_rule* @michelevergnano @dkutsanov @antonio-cuomo @dbonf

# policies/rules
*secure*policy* @kmvachhani @rosenbloomb-sysdig @ombellare @miguelgordo @ivanlysiuk-sysdig @daniel-almeida @jbainbridgesysdig @IvanNik @hila1608 @yaminSapir @chen-shmilovich-sysdig @zohar-arad

# internal components
/sysdig/internal/client/v2/client.go @filiptubic @mbarbieri @draraksysdig @tembleking @airadier
/sysdig/internal/client/v2/config.go @filiptubic @mbarbieri @draraksysdig @tembleking @airadier
/sysdig/internal/client/v2/ibm.go @filiptubic @mbarbieri @draraksysdig @tembleking @airadier
/sysdig/internal/client/v2/agentaccesskey.go @igoreulalio @filiptubic @mbarbieri @draraksysdig @tembleking @airadier
/main.go @filiptubic @mbarbieri @draraksysdig @tembleking @airadier
/.goreleaser.yml @filiptubic @mbarbieri @draraksysdig @tembleking @airadier
/.github/ @filiptubic @mbarbieri @draraksysdig @tembleking @airadier

update test data
  sysdig/data_source_sysdig_monitor_team.go
  sysdig/data_source_sysdig_monitor_team_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

add `data_source_sysdig_monitor_teams` and `data_source_sysdig_secure_teams`
  sysdig/data_source_sysdig_monitor_teams.go
  sysdig/data_source_sysdig_monitor_teams_test.go
  sysdig/data_source_sysdig_secure_teams.go
  sysdig/data_source_sysdig_secure_teams_test.go
  sysdig/data_source_sysdig_secure_zone_test.go
  sysdig/internal/client/v2/teams.go
  sysdig/provider.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

use IBM client for platform zones
  sysdig/data_source_sysdig_secure_zone_test.go
  sysdig/resource_sysdig_secure_zone.go
  sysdig/resource_sysdig_secure_zone_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

add md files for new data sources
  sysdig/data_source_sysdig_secure_zone_test.go
  website/docs/d/monitor_team.md
  website/docs/d/monitor_teams.md
  website/docs/d/secure_team.md
  website/docs/d/secure_teams.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

use IBM client for platform zones (#625)
  sysdig/data_source_sysdig_secure_zone_test.go
  sysdig/resource_sysdig_secure_zone.go
  sysdig/resource_sysdig_secure_zone_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

add data source for posture zone
  sysdig/data_source_sysdig_secure_posture_zone.go
  sysdig/data_source_sysdig_secure_posture_zone_test.go
  sysdig/provider.go
  website/docs/d/secure_posture_zone.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

fix typo in acc test
  sysdig/data_source_sysdig_secure_posture_zone_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

document `theme` and `version` attributes
  website/docs/d/monitor_team.md
  website/docs/d/monitor_teams.md
  website/docs/d/secure_team.md
  website/docs/d/secure_teams.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

populate IBM platform metrics
  sysdig/data_source_sysdig_monitor_team.go
  sysdig/data_source_sysdig_secure_team.go
  sysdig/team_common.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

Revert "populate IBM platform metrics"
  sysdig/data_source_sysdig_monitor_team.go
  sysdig/data_source_sysdig_secure_team.go
  sysdig/resource_sysdig_team_common.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

populate IBM platform metrics
  sysdig/data_source_sysdig_monitor_team.go
  sysdig/data_source_sysdig_secure_team.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

add tests for IBM
  sysdig/data_source_sysdig_monitor_team_ibm_test.go
  sysdig/data_source_sysdig_monitor_team_test.go
  sysdig/data_source_sysdig_secure_team_ibm_test.go
  sysdig/data_source_sysdig_secure_team_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

remove platform metrics from secure team schema
  sysdig/data_source_sysdig_monitor_team_ibm_test.go
  sysdig/data_source_sysdig_secure_team.go
  sysdig/data_source_sysdig_secure_team_ibm_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

add platform metrics fields to monitor team docs
  website/docs/d/monitor_team.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

fix acc test
  sysdig/data_source_sysdig_monitor_team_ibm_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

leave only `id` and `name` fields in the `secure_teams` and `monitor_teams` schemas
  sysdig/data_source_sysdig_monitor_teams.go
  sysdig/data_source_sysdig_secure_teams.go
  website/docs/d/monitor_teams.md
  website/docs/d/secure_teams.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

fix test
  sysdig/data_source_sysdig_secure_team_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

feat(teams): add data sources for monitor and secure teams (#624)
  sysdig/data_source_sysdig_monitor_team.go
  sysdig/data_source_sysdig_monitor_team_ibm_test.go
  sysdig/data_source_sysdig_monitor_team_test.go
  sysdig/data_source_sysdig_monitor_teams.go
  sysdig/data_source_sysdig_monitor_teams_test.go
  sysdig/data_source_sysdig_secure_team.go
  sysdig/data_source_sysdig_secure_team_test.go
  sysdig/data_source_sysdig_secure_teams.go
  sysdig/data_source_sysdig_secure_teams_test.go
  sysdig/data_source_sysdig_secure_zone.go
  sysdig/internal/client/v2/teams.go
  sysdig/provider.go
  website/docs/d/monitor_team.md
  website/docs/d/monitor_teams.md
  website/docs/d/secure_team.md
  website/docs/d/secure_teams.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

feat(team): add prometheus_remote_write_metrics_filter
  sysdig/internal/client/v2/model.go
  sysdig/resource_sysdig_monitor_team.go
  sysdig/resource_sysdig_monitor_team_ibm_test.go
  sysdig/resource_sysdig_monitor_team_test.go
  sysdig/resource_sysdig_secure_team.go
  sysdig/resource_sysdig_team_common.go
  website/docs/r/monitor_team.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

feat(team): add all possible entrypoints and visibility options
  sysdig/internal/client/v2/model.go
  sysdig/resource_sysdig_monitor_team.go
  sysdig/resource_sysdig_monitor_team_ibm_test.go
  sysdig/resource_sysdig_monitor_team_test.go
  sysdig/resource_sysdig_secure_team.go
  sysdig/resource_sysdig_secure_team_test.go
  website/docs/r/monitor_team.md
  website/docs/r/secure_team.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

feat(team): remove platform metric related attributes from secure_team
  sysdig/resource_sysdig_secure_team.go
  website/docs/r/secure_team.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

respect ui naming for entrypoint
  sysdig/resource_sysdig_monitor_team.go
  website/docs/r/monitor_team.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

formatting
  sysdig/resource_sysdig_monitor_team_ibm_test.go
  sysdig/resource_sysdig_monitor_team_test.go
  website/docs/r/monitor_team.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

update after rebase
  sysdig/data_source_sysdig_monitor_team.go
  sysdig/data_source_sysdig_monitor_team_test.go
  sysdig/data_source_sysdig_secure_team.go
  sysdig/data_source_sysdig_secure_team_test.go
  website/docs/d/monitor_team.md
  website/docs/d/secure_team.md
  website/docs/r/monitor_team.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

more fixes
  sysdig/resource_sysdig_monitor_team.go
  sysdig/resource_sysdig_secure_team.go
  website/docs/r/monitor_team.md
  website/docs/r/secure_team.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

more doc updates
  website/docs/r/monitor_team.md
  website/docs/r/secure_team.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

fix
  sysdig/data_source_sysdig_secure_team_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

feat(team): add missing features to teams (#628)
  sysdig/data_source_sysdig_monitor_team.go
  sysdig/data_source_sysdig_monitor_team_test.go
  sysdig/data_source_sysdig_secure_team.go
  sysdig/data_source_sysdig_secure_team_test.go
  sysdig/internal/client/v2/model.go
  sysdig/resource_sysdig_monitor_team.go
  sysdig/resource_sysdig_monitor_team_ibm_test.go
  sysdig/resource_sysdig_monitor_team_test.go
  sysdig/resource_sysdig_secure_team.go
  sysdig/resource_sysdig_secure_team_test.go
  sysdig/resource_sysdig_team_common.go
  website/docs/d/monitor_team.md
  website/docs/d/secure_team.md
  website/docs/r/monitor_team.md
  website/docs/r/secure_team.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

feat(posture-zone): add data source for posture zone (#627)
  sysdig/data_source_sysdig_secure_posture_zone.go
  sysdig/data_source_sysdig_secure_posture_zone_test.go
  sysdig/provider.go
  website/docs/d/secure_posture_zone.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

SSPROD-55868: Add flag for automatic onboarding in Organization resource
  sysdig/common.go
  sysdig/internal/client/v2/cloudauth/go/cloud_account.pb.go
  sysdig/resource_sysdig_secure_organization.go
  sysdig/resource_sysdig_secure_organization_test.go
  website/docs/r/secure_organization.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

Make default for new schema field as false
  sysdig/resource_sysdig_secure_organization.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

SSPROD-55868: Add flag for automatic onboarding in Organization resource (#630)
  sysdig/common.go
  sysdig/internal/client/v2/cloudauth/go/cloud_account.pb.go
  sysdig/resource_sysdig_secure_organization.go
  sysdig/resource_sysdig_secure_organization_test.go
  website/docs/r/secure_organization.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

Make Slack webhook URL fields sensitive
  sysdig/data_source_sysdig_monitor_notification_channel_slack.go
  sysdig/data_source_sysdig_secure_notification_channel_slack.go
  sysdig/resource_sysdig_monitor_notification_channel_slack.go
  sysdig/resource_sysdig_secure_notification_channel_slack.go
Owners: @michelevergnano, @dkutsanov, @antonio-cuomo, @dbonf

Make Slack webhook URL fields sensitive (#631)
  sysdig/data_source_sysdig_monitor_notification_channel_slack.go
  sysdig/data_source_sysdig_secure_notification_channel_slack.go
  sysdig/resource_sysdig_monitor_notification_channel_slack.go
  sysdig/resource_sysdig_secure_notification_channel_slack.go
Owners: @michelevergnano, @dkutsanov, @antonio-cuomo, @dbonf

Add support to Slack private channels
  sysdig/data_source_sysdig_monitor_notification_channel_slack.go
  sysdig/data_source_sysdig_secure_notification_channel_slack.go
  sysdig/internal/client/v2/model.go
  sysdig/resource_sysdig_monitor_notification_channel_slack.go
  sysdig/resource_sysdig_secure_notification_channel_slack.go
  website/docs/d/monitor_notification_channel_slack.md
  website/docs/d/secure_notification_channel_slack.md
  website/docs/r/monitor_notification_channel_slack.md
  website/docs/r/secure_notification_channel_slack.md
Owners: @michelevergnano, @dkutsanov, @antonio-cuomo, @dbonf, @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

remove resource and data source for IBM function notification channel
  sysdig/data_source_sysdig_monitor_notification_channel_ibm_function.go
  sysdig/data_source_sysdig_secure_notification_channel.go
  sysdig/provider.go
  sysdig/resource_sysdig_monitor_notification_channel_ibm_cloud_function.go
  website/docs/d/monitor_notification_channel_ibm_function.md
  website/docs/index.md
  website/docs/r/monitor_notification_channel_ibm_function.md
Owners: @michelevergnano, @dkutsanov, @antonio-cuomo, @dbonf, @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

feat(slack notification channel) support slack private channel
  sysdig/data_source_sysdig_monitor_notification_channel_slack.go
  sysdig/data_source_sysdig_secure_notification_channel_slack.go
  sysdig/internal/client/v2/model.go
  sysdig/resource_sysdig_monitor_notification_channel_slack.go
  sysdig/resource_sysdig_monitor_notification_channel_slack_test.go
  sysdig/resource_sysdig_secure_notification_channel_slack.go
  sysdig/resource_sysdig_secure_notification_channel_slack_test.go
  website/docs/d/monitor_notification_channel_slack.md
  website/docs/d/secure_notification_channel_slack.md
  website/docs/r/monitor_notification_channel_slack.md
  website/docs/r/secure_notification_channel_slack.md
Owners: @michelevergnano, @dkutsanov, @antonio-cuomo, @dbonf, @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

remove resource and data source for IBM function notification channel (#635)
  sysdig/data_source_sysdig_monitor_notification_channel_ibm_function.go
  sysdig/data_source_sysdig_secure_notification_channel.go
  sysdig/provider.go
  sysdig/resource_sysdig_monitor_notification_channel_ibm_cloud_function.go
  website/docs/d/monitor_notification_channel_ibm_function.md
  website/docs/index.md
  website/docs/r/monitor_notification_channel_ibm_function.md
Owners: @michelevergnano, @dkutsanov, @antonio-cuomo, @dbonf, @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

address comments
  sysdig/data_source_sysdig_monitor_notification_channel_slack.go
  sysdig/data_source_sysdig_secure_notification_channel_slack.go
  sysdig/resource_sysdig_monitor_notification_channel_slack.go
  sysdig/resource_sysdig_monitor_notification_channel_slack_test.go
  sysdig/resource_sysdig_secure_notification_channel_slack.go
  sysdig/resource_sysdig_secure_notification_channel_slack_test.go
  website/docs/d/monitor_notification_channel_slack.md
  website/docs/d/secure_notification_channel_slack.md
  website/docs/r/monitor_notification_channel_slack.md
  website/docs/r/secure_notification_channel_slack.md
Owners: @michelevergnano, @dkutsanov, @antonio-cuomo, @dbonf

fix(notification-channels): add support to Slack private channels (#634)
  sysdig/data_source_sysdig_monitor_notification_channel_slack.go
  sysdig/data_source_sysdig_secure_notification_channel_slack.go
  sysdig/internal/client/v2/model.go
  sysdig/resource_sysdig_monitor_notification_channel_slack.go
  sysdig/resource_sysdig_monitor_notification_channel_slack_test.go
  sysdig/resource_sysdig_secure_notification_channel_slack.go
  sysdig/resource_sysdig_secure_notification_channel_slack_test.go
  website/docs/d/monitor_notification_channel_slack.md
  website/docs/d/secure_notification_channel_slack.md
  website/docs/r/monitor_notification_channel_slack.md
  website/docs/r/secure_notification_channel_slack.md
Owners: @michelevergnano, @dkutsanov, @antonio-cuomo, @dbonf, @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier
