Repository sysdiglabs/terraform-provider-sysdig, changes with the owners that CODEOWNERS names for each.
All owners: @marojor, @francesco-racciatti, @pgcrooks-sysdig, @haresh-suresh, @nkraemer-sysdig, @arturodilecce, @dbonf, @brokenpip3, @jwsarna1, @shadow649, @jacklongsd, @kmvachhani, @ben-m-lucas, @ombellare, @miguelgordo, @ivanlysiuk-sysdig

feat(posture_zones): add build tag for posture zone test
  sysdig/resource_sysdig_secure_posture_zone_test.go
Owners: none

feat(posture_zones): use common client in posture zone
  sysdig/resource_sysdig_secure_posture_zone.go
Owners: none

feat(posture_zones): extend common schema keys
  sysdig/common.go
  sysdig/resource_sysdig_secure_posture_zone.go
Owners: none

feat(posture_zones): use identity context to find authors for zone
  sysdig/internal/client/v2/client.go
  sysdig/internal/client/v2/identity_context.go
  sysdig/internal/client/v2/model.go
  sysdig/resource_sysdig_secure_posture_zone.go
Owners: none

feat(posture_zones): add computed values on posture zone
  sysdig/common.go
  sysdig/internal/client/v2/model.go
  sysdig/resource_sysdig_secure_posture_zone.go
  sysdig/resource_sysdig_secure_posture_zone_test.go
Owners: none

feat(posture_zones): add documentation
  website/docs/r/secure_posture_zone.md
Owners: none

feat(posture_zones): add documentation
  sysdig/common.go
  sysdig/resource_sysdig_secure_posture_zone.go
  website/docs/r/secure_posture_zone.md
Owners: none

feat(posture_zones): make rules optional
  sysdig/resource_sysdig_secure_posture_zone.go
  website/docs/r/secure_posture_zone.md
Owners: none

feat(posture_zones): add scope documentation
  website/docs/r/secure_posture_zone.md
Owners: none

feat(posture_policies): change id from string to int
  sysdig/data_source_sysdig_secure_posture_policies.go
Owners: none

feat(posture_zones): change type to []int for policy_ids
  sysdig/data_source_sysdig_secure_posture_policies.go
  sysdig/internal/client/v2/posture_zones.go
  sysdig/resource_sysdig_secure_posture_zone.go
Owners: none

feat(posture_policies): add data source for listing posture policies (#371)
  sysdig/common.go
  sysdig/data_source_sysdig_secure_posture_policies.go
  sysdig/data_source_sysdig_secure_posture_policies_test.go
  sysdig/internal/client/v2/client.go
  sysdig/internal/client/v2/ibm.go
  sysdig/internal/client/v2/model.go
  sysdig/internal/client/v2/posture_policies.go
  sysdig/internal/client/v2/sysdig.go
  sysdig/provider.go
  website/docs/d/secure_posture_policies.md
Owners: none

feat(teams): add posture zones
  sysdig/common.go
  sysdig/internal/client/v2/model.go
  sysdig/resource_sysdig_secure_team.go
Owners: none

feat(teams): add posture zones
  sysdig/resource_sysdig_secure_team.go
Owners: none

feat(teams): add test for setting zone on team
  sysdig/resource_sysdig_secure_team_test.go
Owners: none

feat(teams): update docs
  website/docs/r/secure_team.md
Owners: none

feat(teams): update docs
  website/docs/index.md
Owners: none

feat(posture_zone): add posture zone resource (#373)
  sysdig/common.go
  sysdig/common_test.go
  sysdig/internal/client/v2/client.go
  sysdig/internal/client/v2/identity_context.go
  sysdig/internal/client/v2/model.go
  sysdig/internal/client/v2/posture_zones.go
  sysdig/provider.go
  sysdig/resource_sysdig_secure_posture_zone.go
  sysdig/resource_sysdig_secure_posture_zone_test.go
  website/docs/r/secure_posture_zone.md
Owners: none

feat(teams): add test to test zone validation
  sysdig/resource_sysdig_secure_team_test.go
Owners: none

update docs to provide better examples for providing notification channels
  website/docs/r/secure_custom_policy.md
  website/docs/r/secure_managed_policy.md
  website/docs/r/secure_managed_ruleset.md
  website/docs/r/secure_policy.md
Owners: @jacklongsd, @kmvachhani, @ben-m-lucas, @ombellare, @miguelgordo, @ivanlysiuk-sysdig

correction to reference the id property
  website/docs/r/secure_custom_policy.md
  website/docs/r/secure_managed_policy.md
  website/docs/r/secure_managed_ruleset.md
  website/docs/r/secure_policy.md
Owners: @jacklongsd, @kmvachhani, @ben-m-lucas, @ombellare, @miguelgordo, @ivanlysiuk-sysdig

docs(policies): update docs to provide better examples (#376)
  website/docs/r/secure_custom_policy.md
  website/docs/r/secure_managed_policy.md
  website/docs/r/secure_managed_ruleset.md
  website/docs/r/secure_policy.md
Owners: @jacklongsd, @kmvachhani, @ben-m-lucas, @ombellare, @miguelgordo, @ivanlysiuk-sysdig

fix: correct error msg for missing secure token
  sysdig/sysdig_clients.go
Owners: none

feat(teams) add ability to set zones (#374)
  sysdig/common.go
  sysdig/internal/client/v2/model.go
  sysdig/resource_sysdig_secure_team.go
  sysdig/resource_sysdig_secure_team_test.go
  website/docs/index.md
  website/docs/r/secure_team.md
Owners: none

fix: correct error msg for missing secure token
  sysdig/sysdig_clients.go
Owners: none

fix: correct error msg for missing secure token (#377)
  sysdig/sysdig_clients.go
Owners: none

feat(teams): allow ibm metrics on sysdig token
  GNUmakefile
  sysdig/resource_sysdig_monitor_team.go
  sysdig/resource_sysdig_secure_team.go
Owners: none

feat(teams): allow ibm metrics on sysdig token (#378)
  GNUmakefile
  sysdig/resource_sysdig_monitor_team.go
  sysdig/resource_sysdig_secure_team.go
Owners: none

feat: add parameter to disable binary patching on certain containers
  sysdig/data_source_sysdig_fargate_ECS_test.go
  sysdig/data_source_sysdig_fargate_workload_agent.go
  sysdig/testfiles/fargate_pdig_only.json
  sysdig/testfiles/fargate_pdig_only_expected.json
Owners: @marojor, @francesco-racciatti, @pgcrooks-sysdig

Updated IBM authentication examples to use prod URLs
  website/docs/index.md
Owners: none

Updated IBM authentication examples to use prod URLs (#381)
  website/docs/index.md
Owners: none

SSPROD-27032 Negate block_inboud and block_outbound tags
  sysdig/data_source_sysdig_secure_rule_network.go
  sysdig/resource_sysdig_secure_rule_network.go
Owners: none

SSPROD-27032 Forbid omissions of block_inbound and block_outbound
  sysdig/internal/client/v2/model.go
Owners: none

Add unit test for network rule allowing all traffic
  sysdig/resource_sysdig_secure_rule_network_test.go
Owners: none

Negate block_inbound and block_outbound tags for network rules (#385)
  sysdig/data_source_sysdig_secure_rule_network.go
  sysdig/internal/client/v2/model.go
  sysdig/resource_sysdig_secure_rule_network.go
  sysdig/resource_sysdig_secure_rule_network_test.go
Owners: none

Bump dependency versions
  go.mod
  go.sum
Owners: none

feat(serverless-agent) Add support for ignored containers to the TF data source
  sysdig/cfn_preprocess_template.go
  sysdig/data_source_sysdig_fargate_ECS_test.go
  sysdig/data_source_sysdig_fargate_workload_agent.go
  sysdig/testfiles/ECSInstrumented.json
  sysdig/testfiles/fargate_cmd_test_expected.json
  sysdig/testfiles/fargate_entrypoint_test_expected.json
  sysdig/testfiles/fargate_env_test_expected.json
  sysdig/testfiles/fargate_field_case_test.json
  sysdig/testfiles/fargate_field_case_test_expected.json
  sysdig/testfiles/fargate_ignore_container_test.json
  sysdig/testfiles/fargate_ignore_container_test_expected.json
  sysdig/testfiles/fargate_linuxparameters_test_expected.json
  sysdig/testfiles/fargate_log_group_expected.json
  sysdig/testfiles/fargate_volumesfrom_test_expected.json
  website/docs/d/fargate_workload_agent.md
Owners: @marojor, @francesco-racciatti, @pgcrooks-sysdig

fix(serverless-agent) Add ignore containers support to TF data source (#369)
  go.mod
  go.sum
  sysdig/cfn_preprocess_template.go
  sysdig/data_source_sysdig_fargate_ECS_test.go
  sysdig/data_source_sysdig_fargate_workload_agent.go
  sysdig/testfiles/ECSInstrumented.json
  sysdig/testfiles/fargate_cmd_test_expected.json
  sysdig/testfiles/fargate_entrypoint_test_expected.json
  sysdig/testfiles/fargate_env_test_expected.json
  sysdig/testfiles/fargate_field_case_test.json
  sysdig/testfiles/fargate_field_case_test_expected.json
  sysdig/testfiles/fargate_ignore_container_test.json
  sysdig/testfiles/fargate_ignore_container_test_expected.json
  sysdig/testfiles/fargate_linuxparameters_test_expected.json
  sysdig/testfiles/fargate_log_group_expected.json
  sysdig/testfiles/fargate_volumesfrom_test_expected.json
  website/docs/d/fargate_workload_agent.md
Owners: @marojor, @francesco-racciatti, @pgcrooks-sysdig

rename from GetTeamServiceAccountById -> GetTeamServiceAccountByID
  sysdig/internal/client/v2/team_service_account.go
  sysdig/resource_sysdig_team_service_account.go
Owners: none

replace schema strings with constants
  sysdig/common.go
  sysdig/internal/client/v2/team_service_account.go
  sysdig/resource_sysdig_team_service_account.go
Owners: none

CODEOWNERS:

# Fargate workload agent
*fargate* @marojor @francesco-racciatti @pgcrooks-sysdig

# compliance
*benchmark* @haresh-suresh  @nkraemer-sysdig

# monitor
*monitor*alert* @arturodilecce @dbonf
*monitor*dashboard* @brokenpip3
*monitor*providers* @jwsarna1
*monitor*groupmapping* @shadow649

# policies/rules
*secure*policy* @jacklongsd @kmvachhani @ben-m-lucas @ombellare @miguelgordo @ivanlysiuk-sysdig
