Repository sysdiglabs/terraform-provider-sysdig, changes with the owners that CODEOWNERS names for each.
All owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier, @marojor, @francesco-racciatti, @pgcrooks-sysdig, @gnosek, @haresh-suresh, @nkraemer-sysdig, @michelevergnano, @dkutsanov, @antonio-cuomo, @dbonf, @rossifrancesco, @jwsarna1, @shadow649, @kmvachhani, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig, @IvanNik, @hila1608, @yaminSapir, @chen-shmilovich-sysdig, @zohar-arad, @igoreulalio

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo, unless a later match takes precedence
* @filiptubic @mbarbieri @draraksysdig @tembleking @airadier

# Fargate workload agent
*fargate* @marojor @francesco-racciatti @pgcrooks-sysdig @gnosek

# compliance
*benchmark* @haresh-suresh  @nkraemer-sysdig

# monitor
*monitor*alert* @michelevergnano @dkutsanov @antonio-cuomo @dbonf
*monitor*dashboard* @rossifrancesco
*monitor*providers* @jwsarna1
*monitor*groupmapping* @shadow649
*notification_channel* @michelevergnano @dkutsanov @antonio-cuomo @dbonf
*inhibition_rule* @michelevergnano @dkutsanov @antonio-cuomo @dbonf
*silence_rule* @michelevergnano @dkutsanov @antonio-cuomo @dbonf

# policies/rules
*secure*policy* @kmvachhani @rosenbloomb-sysdig @ombellare @miguelgordo @ivanlysiuk-sysdig @daniel-almeida @jbainbridgesysdig @IvanNik @hila1608 @yaminSapir @chen-shmilovich-sysdig @zohar-arad

# internal components
/sysdig/internal/client/v2/client.go @filiptubic @mbarbieri @draraksysdig @tembleking @airadier
/sysdig/internal/client/v2/config.go @filiptubic @mbarbieri @draraksysdig @tembleking @airadier
/sysdig/internal/client/v2/ibm.go @filiptubic @mbarbieri @draraksysdig @tembleking @airadier
/sysdig/internal/client/v2/agentaccesskey.go @igoreulalio @filiptubic @mbarbieri @draraksysdig @tembleking @airadier
/main.go @filiptubic @mbarbieri @draraksysdig @tembleking @airadier
/.goreleaser.yml @filiptubic @mbarbieri @draraksysdig @tembleking @airadier
/.github/ @filiptubic @mbarbieri @draraksysdig @tembleking @airadier

Remove computed enabled flag for managed policy data source
  sysdig/data_source_sysdig_secure_managed_policy_test.go
Owners: @kmvachhani, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig, @IvanNik, @hila1608, @yaminSapir, @chen-shmilovich-sysdig, @zohar-arad

update naming
  sysdig/data_source_sysdig_secure_onboarding.go
  sysdig/data_source_sysdig_secure_onboarding_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

SSPROD-54060 - organization: add root org id
  sysdig/internal/client/v2/cloudauth/go/cloud_account.pb.go
  website/docs/r/secure_organization.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

SSPROD-54060 - organization: add root org id (#605)
  sysdig/common.go
  sysdig/internal/client/v2/cloudauth/go/cloud_account.pb.go
  sysdig/resource_sysdig_secure_organization.go
  sysdig/resource_sysdig_secure_organization_test.go
  website/docs/r/secure_organization.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

add Zone resource for Secure
  sysdig/internal/client/v2/client.go
  sysdig/internal/client/v2/client_test.go
  sysdig/internal/client/v2/model.go
  sysdig/internal/client/v2/posture_zones.go
  sysdig/internal/client/v2/zones.go
  sysdig/provider.go
  sysdig/resource_sysdig_secure_zone.go
  sysdig/resource_sysdig_secure_zone_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

remove ZoneWrapper | change Scopes schema
  sysdig/internal/client/v2/model.go
  sysdig/internal/client/v2/zones.go
  sysdig/resource_sysdig_secure_zone.go
  sysdig/resource_sysdig_secure_zone_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

fix acceptance test
  sysdig/resource_sysdig_secure_zone_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

add documentation
  website/docs/r/secure_zone.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

convert `last_updated` to date (string) from timestamp
  sysdig/resource_sysdig_secure_zone.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

upgrade actions/cache v2 -> v4
  .github/workflows/ci-provider-docs.yaml
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

fix acc test
  sysdig/resource_sysdig_secure_zone_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

add Importer to resource schema
  sysdig/resource_sysdig_secure_zone.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

refactor: rename method
  sysdig/provider.go
  sysdig/resource_sysdig_secure_zone.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

switch out rule in managed secure policy tests
  sysdig/resource_sysdig_secure_managed_policy_test.go
  sysdig/resource_sysdig_secure_managed_ruleset_test.go
  website/docs/r/secure_managed_policy.md
  website/docs/r/secure_managed_ruleset.md
Owners: @kmvachhani, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig, @IvanNik, @hila1608, @yaminSapir, @chen-shmilovich-sysdig, @zohar-arad, @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

switch out rule in managed secure policy tests (#610)
  sysdig/resource_sysdig_secure_managed_policy_test.go
  sysdig/resource_sysdig_secure_managed_ruleset_test.go
  website/docs/r/secure_managed_policy.md
  website/docs/r/secure_managed_ruleset.md
Owners: @kmvachhani, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig, @IvanNik, @hila1608, @yaminSapir, @chen-shmilovich-sysdig, @zohar-arad, @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

feat(policies) add stateful policy and rule support (#604)
  sysdig/data_source_sysdig_secure_managed_policy_test.go
  sysdig/internal/client/v2/model.go
  sysdig/internal/client/v2/rules.go
  sysdig/provider.go
  sysdig/resource_sysdig_secure_policy.go
  sysdig/resource_sysdig_secure_rule_stateful.go
  sysdig/resource_sysdig_secure_rule_stateful_test.go
  website/docs/d/secure_rule_stateful.md
  website/docs/r/secure_rule_stateful.md
Owners: @kmvachhani, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig, @IvanNik, @hila1608, @yaminSapir, @chen-shmilovich-sysdig, @zohar-arad, @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

refactor: rename variables
  sysdig/internal/client/v2/zones.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

make `scopes` required in terraform config and add `id` field to `scope`
  sysdig/resource_sysdig_secure_zone.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

trivial change
  website/docs/d/secure_rule_stateful.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

Update ci-provider-docs.yaml
  .github/workflows/ci-provider-docs.yaml
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

add stateful data source
  sysdig/data_source_sysdig_secure_rule_stateful.go
  sysdig/data_source_sysdig_secure_rule_stateful_test.go
  sysdig/provider.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

Update data_source_sysdig_secure_rule_stateful_test.go
  sysdig/data_source_sysdig_secure_rule_stateful_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

fix test
  sysdig/data_source_sysdig_secure_rule_stateful.go
  sysdig/data_source_sysdig_secure_rule_stateful_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

Update data_source_sysdig_secure_rule_stateful.go
  sysdig/data_source_sysdig_secure_rule_stateful.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

simplify zone TF schema: remove `scopes` field
  sysdig/resource_sysdig_secure_zone.go
  sysdig/resource_sysdig_secure_zone_test.go
  website/docs/r/secure_zone.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

add all computed fields to documentation
  website/docs/r/secure_zone.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

update actions/cache
  .github/workflows/ci-provider-docs.yaml
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

add optional component type
  sysdig/data_source_sysdig_secure_onboarding.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

update naming
  sysdig/data_source_sysdig_secure_onboarding.go
  sysdig/data_source_sysdig_secure_onboarding_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

fix setid
  sysdig/data_source_sysdig_secure_onboarding.go
  sysdig/internal/client/v2/cloudauth/go/cloud_account.pb.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

add api dest
  sysdig/data_source_sysdig_secure_onboarding.go
  sysdig/data_source_sysdig_secure_onboarding_test.go
  sysdig/internal/client/v2/onboarding.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

change test
  sysdig/data_source_sysdig_secure_onboarding_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

add validation
  sysdig/data_source_sysdig_secure_onboarding.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

set scopes properly when updating the state
  sysdig/resource_sysdig_secure_zone.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

update proto
  sysdig/internal/client/v2/cloudauth/go/cloud_account.pb.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

Update data_source_sysdig_secure_rule_stateful_test.go
  sysdig/data_source_sysdig_secure_rule_stateful_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

add support for stateful rule count
  sysdig/data_source_sysdig_secure_rule_stateful.go
  sysdig/data_source_sysdig_secure_rule_stateful_count.go
  sysdig/data_source_sysdig_secure_rule_stateful_count_test.go
  sysdig/provider.go
  website/docs/d/secure_rule_stateful_count.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

add source to tests
  sysdig/data_source_sysdig_secure_rule_stateful_count_test.go
  sysdig/data_source_sysdig_secure_rule_stateful_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

set missing fields
  sysdig/data_source_sysdig_secure_rule_stateful.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

Update data_source_sysdig_secure_rule_stateful_count_test.go
  sysdig/data_source_sysdig_secure_rule_stateful_count_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier
