Repository sysdiglabs/terraform-provider-sysdig, changes with the owners that CODEOWNERS names for each.
All owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier, @marojor, @francesco-racciatti, @pgcrooks-sysdig, @gnosek, @haresh-suresh, @nkraemer-sysdig, @michelevergnano, @dkutsanov, @antonio-cuomo, @dbonf, @rossifrancesco, @jwsarna1, @shadow649, @kmvachhani, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig, @IvanNik, @hila1608, @yaminSapir, @chen-shmilovich-sysdig, @zohar-arad, @igoreulalio

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo, unless a later match takes precedence
* @filiptubic @mbarbieri @draraksysdig @tembleking @airadier

# Fargate workload agent
*fargate* @marojor @francesco-racciatti @pgcrooks-sysdig @gnosek

# compliance
*benchmark* @haresh-suresh  @nkraemer-sysdig

# monitor
*monitor*alert* @michelevergnano @dkutsanov @antonio-cuomo @dbonf
*monitor*dashboard* @rossifrancesco
*monitor*providers* @jwsarna1
*monitor*groupmapping* @shadow649
*notification_channel* @michelevergnano @dkutsanov @antonio-cuomo @dbonf
*inhibition_rule* @michelevergnano @dkutsanov @antonio-cuomo @dbonf
*silence_rule* @michelevergnano @dkutsanov @antonio-cuomo @dbonf

# policies/rules
*secure*policy* @kmvachhani @rosenbloomb-sysdig @ombellare @miguelgordo @ivanlysiuk-sysdig @daniel-almeida @jbainbridgesysdig @IvanNik @hila1608 @yaminSapir @chen-shmilovich-sysdig @zohar-arad

# internal components
/sysdig/internal/client/v2/client.go @filiptubic @mbarbieri @draraksysdig @tembleking @airadier
/sysdig/internal/client/v2/config.go @filiptubic @mbarbieri @draraksysdig @tembleking @airadier
/sysdig/internal/client/v2/ibm.go @filiptubic @mbarbieri @draraksysdig @tembleking @airadier
/sysdig/internal/client/v2/agentaccesskey.go @igoreulalio @filiptubic @mbarbieri @draraksysdig @tembleking @airadier
/main.go @filiptubic @mbarbieri @draraksysdig @tembleking @airadier
/.goreleaser.yml @filiptubic @mbarbieri @draraksysdig @tembleking @airadier
/.github/ @filiptubic @mbarbieri @draraksysdig @tembleking @airadier

fix: update dependencies to solve vulnerabilities
  go.mod
  go.sum
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

fix: update dependencies to solve vulnerabilities (#596)
  go.mod
  go.sum
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

cloudauth_account: fix oci test
  sysdig/resource_sysdig_secure_cloud_auth_account_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

cloudauth_account: fix oci test (#597)
  sysdig/resource_sysdig_secure_cloud_auth_account_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

resource(organization): add include/exclude optional fields
  sysdig/common.go
  sysdig/internal/client/v2/cloudauth/go/cloud_account.pb.go
  sysdig/resource_sysdig_secure_organization.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

update(org): include/exclude optional fields
  website/docs/r/secure_organization.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

resource(organization): add include/exclude optional fields
  website/docs/r/secure_organization.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

feat: add process based exceptions to drift policies
  sysdig/internal/client/v2/model.go
  sysdig/resource_sysdig_secure_drift_policy.go
  sysdig/resource_sysdig_secure_drift_policy_test.go
  sysdig/tfresource.go
  website/docs/r/secure_drift_policy.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier, @kmvachhani, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig, @IvanNik, @hila1608, @yaminSapir, @chen-shmilovich-sysdig, @zohar-arad

[SMPROD-18363] Update the terraform tests to account for the notification channel url validation
  sysdig/data_source_sysdig_monitor_notification_channel_msteams_test.go
  sysdig/data_source_sysdig_monitor_notification_channel_slack_test.go
  sysdig/data_source_sysdig_secure_notification_channel_msteams_test.go
  sysdig/data_source_sysdig_secure_notification_channel_slack_test.go
  sysdig/resource_sysdig_monitor_notification_channel_msteams_test.go
  sysdig/resource_sysdig_monitor_notification_channel_slack_test.go
  sysdig/resource_sysdig_secure_notification_channel_msteams_test.go
  sysdig/resource_sysdig_secure_notification_channel_slack_test.go
  website/docs/r/monitor_notification_channel_slack.md
  website/docs/r/secure_notification_channel_slack.md
Owners: @michelevergnano, @dkutsanov, @antonio-cuomo, @dbonf

[SMPROD-18363] Update the terraform tests to account for the notification channel url validation (#601)
  sysdig/data_source_sysdig_monitor_notification_channel_msteams_test.go
  sysdig/data_source_sysdig_monitor_notification_channel_slack_test.go
  sysdig/data_source_sysdig_secure_notification_channel_msteams_test.go
  sysdig/data_source_sysdig_secure_notification_channel_slack_test.go
  sysdig/resource_sysdig_monitor_notification_channel_msteams_test.go
  sysdig/resource_sysdig_monitor_notification_channel_slack_test.go
  sysdig/resource_sysdig_secure_notification_channel_msteams_test.go
  sysdig/resource_sysdig_secure_notification_channel_slack_test.go
  website/docs/r/monitor_notification_channel_slack.md
  website/docs/r/secure_notification_channel_slack.md
Owners: @michelevergnano, @dkutsanov, @antonio-cuomo, @dbonf

address review comments
  sysdig/tfresource.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

feat(drift-policies): add process based exceptions to drift policies (#581)
  sysdig/internal/client/v2/model.go
  sysdig/resource_sysdig_secure_drift_policy.go
  sysdig/resource_sysdig_secure_drift_policy_test.go
  sysdig/tfresource.go
  website/docs/r/secure_drift_policy.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier, @kmvachhani, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig, @IvanNik, @hila1608, @yaminSapir, @chen-shmilovich-sysdig, @zohar-arad

manage mounted volume toggle in drift policies
  sysdig/data_source_sysdig_secure_drift_policy.go
  sysdig/internal/client/v2/model.go
  sysdig/resource_sysdig_secure_drift_policy.go
  sysdig/resource_sysdig_secure_drift_policy_test.go
  sysdig/tfresource.go
Owners: @kmvachhani, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig, @IvanNik, @hila1608, @yaminSapir, @chen-shmilovich-sysdig, @zohar-arad, @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

update docs
  sysdig/resource_sysdig_secure_drift_policy_test.go
  website/docs/r/secure_drift_policy.md
Owners: @kmvachhani, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig, @IvanNik, @hila1608, @yaminSapir, @chen-shmilovich-sysdig, @zohar-arad

add support for guardduty policy and rules
  sysdig/resource_sysdig_secure_policy.go
  sysdig/resource_sysdig_secure_policy_test.go
  sysdig/resource_sysdig_secure_rule_falco.go
  sysdig/resource_sysdig_secure_rule_falco_test.go
  website/docs/d/secure_custom_policy.md
  website/docs/d/secure_managed_policy.md
  website/docs/d/secure_managed_ruleset.md
  website/docs/r/secure_custom_policy.md
  website/docs/r/secure_managed_policy.md
  website/docs/r/secure_managed_ruleset.md
  website/docs/r/secure_policy.md
  website/docs/r/secure_rule_falco.md
Owners: @kmvachhani, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig, @IvanNik, @hila1608, @yaminSapir, @chen-shmilovich-sysdig, @zohar-arad, @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

[policies] manage mounted volume toggle in drift policies (#602)
  sysdig/data_source_sysdig_secure_drift_policy.go
  sysdig/internal/client/v2/model.go
  sysdig/resource_sysdig_secure_drift_policy.go
  sysdig/resource_sysdig_secure_drift_policy_test.go
  sysdig/tfresource.go
  website/docs/r/secure_drift_policy.md
Owners: @kmvachhani, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig, @IvanNik, @hila1608, @yaminSapir, @chen-shmilovich-sysdig, @zohar-arad, @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

fix test
  sysdig/resource_sysdig_secure_rule_falco_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

fix string formatting
  sysdig/resource_sysdig_secure_rule_falco_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

[policies] add support for sysdig secure aws gaurdduty policies and rules (#603)
  sysdig/resource_sysdig_secure_policy.go
  sysdig/resource_sysdig_secure_policy_test.go
  sysdig/resource_sysdig_secure_rule_falco.go
  sysdig/resource_sysdig_secure_rule_falco_test.go
  website/docs/d/secure_custom_policy.md
  website/docs/d/secure_managed_policy.md
  website/docs/d/secure_managed_ruleset.md
  website/docs/r/secure_custom_policy.md
  website/docs/r/secure_managed_policy.md
  website/docs/r/secure_managed_ruleset.md
  website/docs/r/secure_policy.md
  website/docs/r/secure_rule_falco.md
Owners: @kmvachhani, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig, @IvanNik, @hila1608, @yaminSapir, @chen-shmilovich-sysdig, @zohar-arad, @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

SSPROD-48663 - resource(organization): add include/exclude optional fields (#598)
  sysdig/common.go
  sysdig/internal/client/v2/cloudauth/go/cloud_account.pb.go
  sysdig/resource_sysdig_secure_organization.go
  website/docs/r/secure_organization.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

build(nix): add nix flake to enhance DX and make it reproducible
  .envrc
  .gitignore
  GNUmakefile
  flake.lock
  flake.nix
  package.nix
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

add stateful policy and rule support
  sysdig/internal/client/v2/model.go
  sysdig/internal/client/v2/rules.go
  sysdig/provider.go
  sysdig/resource_sysdig_secure_policy.go
  sysdig/resource_sysdig_secure_rule_stateful.go
  sysdig/resource_sysdig_secure_rule_stateful_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier, @kmvachhani, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig, @IvanNik, @hila1608, @yaminSapir, @chen-shmilovich-sysdig, @zohar-arad

fix tests
  sysdig/resource_sysdig_secure_rule_stateful_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

Update resource_sysdig_secure_rule_stateful_test.go
  sysdig/resource_sysdig_secure_rule_stateful_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

add tests for stateful policy, skip in ibm
  sysdig/data_source_sysdig_secure_managed_policy_test.go
  sysdig/resource_sysdig_secure_rule_stateful_test.go
Owners: @kmvachhani, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig, @IvanNik, @hila1608, @yaminSapir, @chen-shmilovich-sysdig, @zohar-arad, @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

only run tests on secure
  sysdig/resource_sysdig_secure_rule_stateful_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

use existing exception name
  sysdig/resource_sysdig_secure_rule_stateful_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

add docs
  sysdig/resource_sysdig_secure_rule_stateful.go
  website/docs/d/secure_rule_stateful.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

only allow name/values in exceptions
  sysdig/resource_sysdig_secure_rule_stateful.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

add api dest
  sysdig/data_source_sysdig_secure_onboarding.go
  sysdig/data_source_sysdig_secure_onboarding_test.go
  sysdig/internal/client/v2/onboarding.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

SSPROD-54060 - organization: add root org id
  sysdig/common.go
  sysdig/internal/client/v2/cloudauth/go/cloud_account.pb.go
  sysdig/resource_sysdig_secure_organization.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

address review comments part 1
  sysdig/internal/client/v2/model.go
  sysdig/internal/client/v2/rules.go
  sysdig/resource_sysdig_secure_rule_stateful.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

address review comments part 2
  sysdig/resource_sysdig_secure_rule_stateful.go
  sysdig/resource_sysdig_secure_rule_stateful_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

address review comments part 3
  sysdig/resource_sysdig_secure_rule_stateful.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

add version to resource
  sysdig/resource_sysdig_secure_rule_stateful.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

add docs
  website/docs/r/secure_rule_stateful.md
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

address lint errors
  sysdig/data_source_sysdig_secure_managed_policy_test.go
Owners: @kmvachhani, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig, @IvanNik, @hila1608, @yaminSapir, @chen-shmilovich-sysdig, @zohar-arad

Small fix to test
  sysdig/resource_sysdig_secure_rule_stateful_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

SSPROD-54060 - add(org): new rootID field
  sysdig/resource_sysdig_secure_organization_test.go
Owners: @filiptubic, @mbarbieri, @draraksysdig, @tembleking, @airadier

Fix test failure
  sysdig/data_source_sysdig_secure_managed_policy_test.go
Owners: @kmvachhani, @rosenbloomb-sysdig, @ombellare, @miguelgordo, @ivanlysiuk-sysdig, @daniel-almeida, @jbainbridgesysdig, @IvanNik, @hila1608, @yaminSapir, @chen-shmilovich-sysdig, @zohar-arad
